font-size: 14px;@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding:0;
  margin:0;
  height: 100%;
  position: relative;
}

.title{
  position: absolute;
  width: 376px;
  height: 160px;
  left: calc(50% - 376px/2 + 0.5px);
  top: 24px;
}

header #eventName{
  position: absolute;
  width: 360px;
  height: 59px;
  left: calc(50% - 160px/2 - 95px);
  top: 15px;

  font-family: PingFangHK-Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  font-size: 24px;

  color: #000000;
}

.question{
  position: absolute;
  left: calc(50% - 50px);
  top: 35%;
  font-size: 18px;
  font-family: PingFangHK-Regular, sans-serif;
}

#alert{
  text-align: center;
  top: 50%;
  width: 300px;
  margin-left: calc(50% - 150px);
  margin-right: calc(50% - 150px);
  position: absolute;
  padding-top: 30px;
  /* width:300px; */
  color: #FF3333;
}

.nextButton{
  position: absolute;
  width: 375px;
  height: 124px;
  left: calc(50% - 375px/2);
  bottom: 40px;
}

#next{
  position: absolute;
  width: 222px;
  height: 10px;
  left: calc(50% - 222px/2 + 2.5px);
  top: 20px;

  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;
  text-align: center;

  color: #FFFFFF;
}

#button{
  position: absolute;
  width: 248px;
  height: 42px;
  left: calc(50% - 248px/2 + 0.5px);
  top: 9px;

  /* ShanghaiGrey */
  background: #979797;
}

.poweredBy{
  position: absolute;
  width: 376px;
  height: 16px;
  left: calc(50% - 376px/2 - 0.5px);
  bottom:30px;
}

#lizzijIcon{
  position: absolute;
  width: 11.25px;
  height: 9px;
  left: calc(50% - 11.25px/2 + 26.62px);
  top: 2.7px;
}

#lizzij{
  position: absolute;
  width: 15px;
  height: 9px;
  left: calc(50% - 15px/2 + 13.5px);
  top: 3px;
}

.poweredByText{
  font-family: PingFangHK-Regular, sans-serif;
  font-weight: 300;
  line-height: 9px;
  font-size: 7px;

  color: #979797;
}

#dashLeft{
  position: absolute;
  width: 5.33px;
  height: 7.33px;
  left: calc(50% - 5.33px/2 - 36.33px);
  top: 10.33px;
}

#poweredBy{
  position: absolute;
  width: 40px;
  height: 7px;
  left: calc(50% - 40px/2 - 12px);
  top: 11px;
}

#dashRight{
  position: absolute;
  width: 5.33px;
  height: 7.33px;
  left: calc(50% - 5.33px/2 + 36.33px);
  top: 10.33px;
}
