margin-top: -37px;body{
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#survey{
  font-family: PingFangHK-Regular, sans-serif;
  padding-top: 40px;
  right: 20px;
  left: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 10em;
  width: 320px;
}

.progress{
  order: -1;
}

#page1{
  display: flex;
  flex-direction: column;
  position: relative;
}

.mainQuestion{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 17px;
  padding-top: 20px;
}

.question{
  padding-top: 20px;
  display: center;
}

.questionPrompt{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 16px;
  weight: 500;
  padding-bottom: 5px;
  color: #4F4F4F;
}

.questionAnswer{
  padding-left: 10px;
  color: #979797;
}

.starAnswer{
  color: #979797;
}

.form-check-input{
  padding-top: 10px;
}

.form-check-label{
  font-size: 14px;
  color: #4F4F4F;
}

.trustOption{
  padding-bottom: 30px;
}

.trustOptionPrompt{
  padding-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trustOptionText{
  font-size: 15px;
  color: #4F4F4F;
  font-weight: bold;
}

.trustOptionEg{
  font-size: 12px;
  color: #979797;
  padding-left: 10px;
}

.trustScaleLabel{
  position: absolute;
  width: 310px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #979797;
  margin-top: -21px;
  text-align: center
}

div.trustScaleLabel > div{
  width: 62px;
}

#Scale1Divider > div{
  width: 62px;
  margin-top: -36px;
}
#Scale2Divider > div{
  width: 62px;
  margin-top: -36px;
}
#Scale3Divider > div{
  width: 62px;
  margin-top: -36px;
}
#Scale4Divider > div{
  width: 62px;
  margin-top: -36px;
}
#Scale5Divider > div{
  width: 62px;
  margin-top: -36px;
}
#Scale6Divider > div{
  width: 62px;
  margin-top: -36px;
}
#Scale7Divider > div{
  width: 62px;
  margin-top: -36px;
}
#Scale8Divider > div{
  width: 62px;
  margin-top: -36px;
}
#GoodDeedDivider > div{
  width: 62px;
  margin-top: -36px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 21px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  z-index: -1;
}

.slider::-webkit-slider-thumb {
  /* -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #4F4F4F;
  cursor: pointer; */

  /* -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */

  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 30px;
  margin-top: 51px;
  border-radius: 0px;
  outline: none;
  margin-left: -1px;
  margin-bottom: 1px;
  border-color: transparent;
  background-color: transparent;
  background: transparent url('../img/finger.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  /* width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #4F4F4F;
  cursor: pointer; */

  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 30px;
  margin-top: 51px;
  margin-left: -1px;
  border-radius: 0px;
  outline: none;
  border-color: transparent;
  background: transparent url('../img/finger.png');
  background-color: transparent;
  cursor: pointer;
}

.sliderAmount{
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #808080;
  z-index: 10;
}

#donationWillingAmount, #donationWillingAmount2{
  margin-bottom: 0px;
}

.slidecontainer{
  width: 312px;
  z-index: -1;
  padding-bottom: 15px;
}

#eventTime{
  padding-top: 0px;
}

#donationWilling{
  padding-top: 0px;
}

#signUpFee{
  padding-top: 0px;
}

#domesticWebsite{
  padding-top: 0px;
}

#foreignWebsite{
  padding-top: 0px;
}

#domesticMedia{
  padding-top: 0px;
}

#foreignMedia{
  padding-top: 0px;
}

#chatWithFriends{
  padding-top: 0px;
}

#stateScaleDivider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  top: 204px;
  text-align: right;
  left: calc(50% - 136px);
}

#privateScaleDivider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  top: 288px;
  text-align: right;
  left: calc(50% - 136px);
}

#foreignScaleDivider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  top: 372px;
  text-align: right;
  left: 23px;
}

#univerisity{
  width: 313px;
  height: 30px;
  font-size: 12px;
}

#unitDays{
  flex: row;
  font-size: 12px;
  padding-left: 10px;
  padding-top: 8px;
}

#lilyDayInput{
  font-size: 12px;
  height: 27px;
}

#timeLeft{
  display: flex;
  padding-bottom: 15px;
  font-size: 16px;
}

#timer{
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  font-size: 16px;
}

#note{
  font-size: 14px;
  color: #4F4F4F;
  line-height: 1.8;
}

#subNote{
  font-size: 14px;
  color: #979797;
  line-height: 1.8;
}

#walkathon1{
  line-height: 1.6;
  padding-bottom: 12px;
}

#walkathon2{
  line-height: 1.6;
  padding-bottom: 5px;
}

#walkathon3{
  line-height: 1.6;
  padding-bottom: 5px;
}

#walkathon4{
  line-height: 1.6;
  padding-bottom: 5px;
}

.starLeft{
  display: flex;
  padding-bottom: 12px;
}

.starPrompt{
  display: flex;
  font-size: 14px;
  color: #4F4F4F;
  width: 92px;
  letter-spacing: -0.5px;
}

#starLeftPrompt{
  font-size: 16px;
  color: #4F4F4F;
  width: 92px;
}

#starLeftCount{
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}

.starGroup1{
  display: flex;
  padding-bottom: 5px;
}

.starGroup2{
  display: flex;
  padding-bottom: 5px;
}

.starGroup3{
  display: flex;
  padding-bottom: 5px;
}

.starGroup4{
  display: flex;
  padding-bottom: 5px;
}

.starGroup5{
  display: flex;
  padding-bottom: 5px;
}

.starGroup6{
  display: flex;
  padding-bottom: 5px;
}

.starContainer{
  overflow: hidden;
  color: #979797;
  padding-top: 3px;
}

.starContainer div {
  height: 15px
}

.star {
  text-align: center;
  width: 19px;
  float: left;
  z-index: -1;
  font-size: 18px;
  line-height: 0.9;
}

.starGroup1Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
  padding-top: 3px;
}

.starGroup2Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
  padding-top: 3px;
}

.starGroup3Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
  padding-top: 3px;
}

.starGroup4Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
  padding-top: 3px;
}

.starGroup5Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
  padding-top: 3px;
}

.starGroup6Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
  padding-top: 3px;
}

#starLeftContainer{
  color: #FFD700;
}

#starAlert{
  position: absolute;
  width:205px;
  top: 496px;
  left: calc(50% - 66px);
  /* left: 116px; */
  color: #FF3333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.6);
}

#groupDescription{
  font-size: 14px;
  color: #979797;
  line-height: 1.6;
  padding-right: 10px;
  padding-top: 12px;
  font-weight: 300;
}

#clearAllButton{
  position:absolute;
  top: 496px;
  left: calc(50% + 140px);
  /* left: 312px; */
  width: 19px;
  height: 19px;
  border-radius: 15px;

  /* ShanghaiGrey */
  background: #DCDCDC;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

#clear{
  position:absolute;
  top: -8px;
  left: 3px;
  width: 10px;
  height: 19px;
  font-size: 20px;
  color: #000000;
  z-index: 2;
}

.nextButton{
  align-self: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

#next{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 14px;
  text-align: center;

  color: #FFFFFF;
}

#button{
  width: 248px;
  height: 42px;

  /* ShanghaiGrey */
  background: #979797;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#thankYou{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  padding-left: 4px;
  /* top: 80px; */
  display: center;
}

#spinningHead{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  padding-top: 270px;
  padding-left: 100px;
  /* right: 100px; */
  display: center;
}

#lizzij{
  display: flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  bottom: 10px;
  left: calc(50% - 40px);
}

#weatherStarLeftCount{
  padding-left: 2px;
  padding-right: 2px;
  font-weight: bold;
}

#weatherStarGroup1Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
}

#weatherStarGroup2Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
}

#weatherStarGroup3Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
}

#weatherStarGroup4Cover{
  position: absolute;
  content: '\2605';
  color: #FFD700;
  padding-left: 92px;
  white-space: nowrap;
}

#weatherStarLeftContainer{
  color: #FFD700;
  padding-top: 4px;
}

#weatherStarAlert{
  position: absolute;
  width:205px;
  top: 496px;
  left: calc(50% - 66px);
  /* left: 116px; */
  color: #FF3333;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background: rgb(255,255,255);
  background: rgba(255,255,255, 0.6);
}

#weatherClearAllButton{
  position:absolute;
  top: 496px;
  left: calc(50% + 140px);
  /* left: 312px; */
  width: 19px;
  height: 19px;
  border-radius: 15px;

  /* ShanghaiGrey */
  background: #DCDCDC;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
}

#weatherClear{
  position:absolute;
  top: -8px;
  left: -1px;
  width: 19px;
  height: 19px;
  font-size: 20px;
  color: #000000;
  z-index: 2;
}

#Scale1Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

#Scale2Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

#Scale3Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

#Scale4Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

#Scale5Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

#Scale6Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

#Scale7Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

#Scale8Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

.peopleTrustOption{
  padding-bottom: 35px;
  padding-top: 0px;
  color: #4F4F4F;
}

#GoodDeedDivider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  color: #979797;
  text-align: right;
  left: calc(50% - 136px);
}

.willingnessScaleLabel{
  position: absolute;
  width: 310px;
  display: flex;
  flex-direction: row;
  font-size: 12px;
  color: #4F4F4F;
  padding-top: 32px;
  text-align: center;
  margin-top: -55px;
}

div.willingnessScaleLabel > div{
  width: 62px;
}

.outingScaleLabel{
  position: absolute;
  width: 310px;
  display: flex;
  flex-direction: row;
  font-size: 10px;
  color: #979797;
  padding-top: 0px;
  text-align: center
}

div.outingScaleLabel > div{
  width: 77.5px;
}

.outingOptionPrompt{
  padding-top: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
}

.outingOptionText{
  font-size: 14px;
  color: #4F4F4F;
  font-weight: bold;
}

.outingOption{
  height: 140px;
}

.visitPrompt{
  padding-top: 33px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  color: #4F4F4F;
  font-weight: bold;
}

#outingScale1Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 55px;
  color: #979797;
  padding-top: 25px;
  text-align: right;
  left: calc(50% - 136px);
}

#outingScale2Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 55px;
  color: #979797;
  padding-top: 25px;
  text-align: right;
  left: calc(50% - 136px);
}

#outingScale3Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 55px;
  color: #979797;
  padding-top: 25px;
  text-align: right;
  left: calc(50% - 136px);
}

#outingScale4Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 55px;
  color: #979797;
  padding-top: 25px;
  text-align: right;
  left: calc(50% - 136px);
}

#outingScale5Divider{
  position: absolute;
  width: 308px;
  display: flex;
  flex-direction: row;
  font-size: 55px;
  color: #979797;
  padding-top: 25px;
  text-align: right;
  left: calc(50% - 136px);
}

#scaleOf4Divider1, #scaleOf4Divider2, #scaleOf4Divider3, #scaleOf4Divider4{
  width: 77.5px;
}

.trueFalsePromp{
  font-family: PingFangHK-Regular, sans-serif;
  font-size: 15px;
  weight: 500;
  padding-top: 23px;
  padding-bottom: 7px;
  color: #4F4F4F;
}

.form-group .form-control{
  color: #4F4F4F;
  height: calc(2rem + 2px);
  font-size: 12px;
  border: 1px solid #CDCDCD;
  width: 97%;
}

.form-check .form-check-label{
  color: #979797;
}

#walkathonDistance{
  padding-top: 10px;
}

input.btn.btn-primary {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
  color: #4F4F4F;
}

input.btn {
  border-radius: 0rem;
  padding: .1rem .2rem;
  font-size: 14px;
}

#checkBeanNumberSource{
  padding-top:5px;
}


pre{
  display: block;
  font-family: PingFangHK-Regular, sans-serif;
  white-space: pre-line;
  margin: 0.5em 0px;
  color: #4F4F4F;
  font-size: 14px;
}
