<!DOCTYPE html>
<html lang="zh" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}问卷</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/questions.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
<form lang="zh" action="" method="post">
  <!-- page 1 -->
  <div id="page1" >
    <div class="survey">
      <!-- questions about the event -->
      <div class="mainQuestion">关于该活动的问题</div><!-- event location question -->
      <div class="question">
        <div class="form-group" style="margin-bottom:0px">
          <div class="questionPrompt">该活动的举办地点是哪里？</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="eventLocation" id="name1" value="option1" ><label class="form-check-label" for="name1">枫泾古镇</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="eventLocation" id="name2" value="option2" ><label class="form-check-label" for="name2">鸬鸟山</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="eventLocation" id="name3" value="option3" ><label class="form-check-label" for="name3">法租界</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="eventLocation" id="name4" value="option4" required><label class="form-check-label" for="name4">世纪公园</label></div>
            </div>
        </div>
      </div><!-- sign up fee -->
      <div class="question">
        <div class="questionPrompt">请问您愿意为参加该活动交多少元报名费？</div>
        <div class="questionAnswer">
          <div class="slidecontainer" id="signUpFee">
            <div class="form-group" style="margin-top:35px; margin-bottom:0px">
              <output class="sliderAmount" name="amount" id="signUpFeeAmount"
                for="rangeInput">0元</output>
              <input type="range" min="0" max="300" value="0" step="10" name="signUpFeeAmount" class="slider" id="signUpFeeSlider" oninput="signUpFeeSlide()"></input>
              </div>
          </div>
        </div>
      </div>
    </div><!-- next button -->
    <div class="nextButton">
      <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
      </input>
    </div>
    <!-- <section class="nextButton">
      <div id="p1alert" class="fillAllAlert"></div>
      <div id="p1nextButton"><div class="button">
          <div id="next">下一页</div>
        </div>
        <script type="text/javascript">
          document.getElementById("p1nextButton").onclick = function() {
            return gotoPage2();
          };
        </script>
      </div>
    </section> -->
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 16%; background-color: #979797;" aria-valuenow="16" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</form>

<form lang="zh" action="" method="post">
  <!-- page 2 -->
  <div id="page2" style="display:none">
    <div class="survey">
      <!-- outing factors -->
      <div class="question">
        <div class="questionPrompt">在决定是否参加类似的户外活动时，以下因素对您做出决定的影响程度如何（请在0-100中选择）？</div>
        <div class="questionAnswer">
          <!-- option 1 -->
          <div class="outingOption">
            <div class="outingOptionPrompt">
              <div class="outingOptionText">地点</div>
            </div>
            <div id="outingScale1Divider">
              <div id="scaleOf4Divider1">·</div>
              <div id="scaleOf4Divider2">·</div>
              <div id="scaleOf4Divider3">·</div>
              <div id="scaleOf4Divider4">·</div>
            </div>
            <div class="outingScaleLabel">
              <div id="outing1ScaleLabel1">几乎不影响<br />我做决定</div>
              <div id="outing1ScaleLabel2">可能会影响<br />我的决定</div>
              <div id="outing1ScaleLabel3">是影响决定的重要因素之一</div>
              <div id="outing1ScaleLabel4">对我做决定<br />非常重要</div>
            </div>
            <div class="slidecontainer">
              <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <output class="sliderAmount" name="amount" id="outing1Amount"
                  for="rangeInput">0</output>
                <input type="range" min="0" max="100" value="0" step="0.01" name="outingLocation" class="slider" id="outing1" oninput="outing1Slide()"></input>
              </div>
            </div>
          </div><!-- option 2 -->
          <div class="outingOption">
            <div class="outingOptionPrompt">
              <div class="outingOptionText">交通</div>
            </div>
            <div id="outingScale2Divider">
              <div id="scaleOf4Divider1">·</div>
              <div id="scaleOf4Divider2">·</div>
              <div id="scaleOf4Divider3">·</div>
              <div id="scaleOf4Divider4">·</div>
            </div>
            <div class="outingScaleLabel">
              <div id="outing2ScaleLabel1">几乎不影响<br />我做决定</div>
              <div id="outing2ScaleLabel2">可能会影响<br />我的决定</div>
              <div id="outing2ScaleLabel3">是影响决定的重要因素之一</div>
              <div id="outing2ScaleLabel4">对我做决定<br />非常重要</div>
            </div>
            <div class="slidecontainer">
              <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <output class="sliderAmount" name="amount" id="outing2Amount"
                  for="rangeInput">0</output>
                <input type="range" min="0" max="100" value="0" step="0.01" name="outingTransportation" class="slider" id="outing2" oninput="outing2Slide()"></input>
              </div>
            </div>
          </div><!-- option 3 -->
          <div class="outingOption">
            <div class="outingOptionPrompt">
              <div class="outingOptionText">温度</div>
            </div>
            <div id="outingScale3Divider">
              <div id="scaleOf4Divider1">·</div>
              <div id="scaleOf4Divider2">·</div>
              <div id="scaleOf4Divider3">·</div>
              <div id="scaleOf4Divider4">·</div>
            </div>
            <div class="outingScaleLabel">
              <div id="outing3ScaleLabel1">几乎不影响<br />我做决定</div>
              <div id="outing3ScaleLabel2">可能会影响<br />我的决定</div>
              <div id="outing3ScaleLabel3">是影响决定的重要因素之一</div>
              <div id="outing3ScaleLabel4">对我做决定<br />非常重要</div>
            </div>
            <div class="slidecontainer">
              <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <output class="sliderAmount" name="amount" id="outing3Amount"
                  for="rangeInput">0</output>
                <input type="range" min="0" max="100" value="0" step="0.01" name="outingTemperature" class="slider" id="outing3" oninput="outing3Slide()"></input>
              </div>
            </div>
          </div><!-- option 4 -->
          <div class="outingOption">
            <div class="outingOptionPrompt">
              <div class="outingOptionText">空气质量</div>
            </div>
            <div id="outingScale4Divider">
              <div id="scaleOf4Divider1">·</div>
              <div id="scaleOf4Divider2">·</div>
              <div id="scaleOf4Divider3">·</div>
              <div id="scaleOf4Divider4">·</div>
            </div>
            <div class="outingScaleLabel">
              <div id="outing4ScaleLabel1">几乎不影响<br />我做决定</div>
              <div id="outing4ScaleLabel2">可能会影响<br />我的决定</div>
              <div id="outing4ScaleLabel3">是影响决定的重要因素之一</div>
              <div id="outing4ScaleLabel4">对我做决定<br />非常重要</div>
            </div>
            <div class="slidecontainer">
              <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <output class="sliderAmount" name="amount" id="outing4Amount"
                  for="rangeInput">0</output>
                <input type="range" min="0" max="100" value="0" step="0.01" name="outingAirQuality" class="slider" id="outing4" oninput="outing4Slide()"></input>
              </div>
            </div>
          </div><!-- option 5 -->
          <div class="outingOption">
            <div class="outingOptionPrompt">
              <div class="outingOptionText">我的朋友们是否会同去</div>
            </div>
            <div id="outingScale5Divider">
              <div id="scaleOf4Divider1">·</div>
              <div id="scaleOf4Divider2">·</div>
              <div id="scaleOf4Divider3">·</div>
              <div id="scaleOf4Divider4">·</div>
            </div>
            <div class="outingScaleLabel">
              <div id="outing5ScaleLabel1">几乎不影响<br />我做决定</div>
              <div id="outing5ScaleLabel2">可能会影响<br />我的决定</div>
              <div id="outing5ScaleLabel3">是影响决定的重要因素之一</div>
              <div id="outing5ScaleLabel4">对我做决定<br />非常重要</div>
            </div>
            <div class="slidecontainer">
              <div class="form-group" style="margin-top:5px; margin-bottom:0px">
                <output class="sliderAmount" name="amount" id="outing5Amount"
                  for="rangeInput">0</output>
                <input type="range" min="0" max="100" value="0" step="0.01" name="outingFriends" class="slider" id="outing5" oninput="outing5Slide()"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- next button -->
    <div class="nextButton">
      <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
      </input>
    </div>
    <!-- <section class="nextButton">
      <div id="p2nextButton"><div class="button">
          <div id="next">下一页</div>
        </div>
        <script type="text/javascript">
          document.getElementById("p2nextButton").onclick = function() {
            return show('page3');
          };
        </script>
      </div>
    </section> -->
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 32%; background-color: #979797;" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</form>

<form lang="zh" action="" method="post">
  <!-- page 3 -->
  <div id="page3" style="display:none">
    <div class="survey">
      <!-- source of news -->
      <div class="mainQuestion" style="padding-bottom:20px;">关于日常新闻来源的问题</div>
      <div class="questionPrompt">为使自己熟知经济、社会、国内外政策相关的话题，平均每天您会花多长时间在以下新闻来源上？</div>
      <div class="visitPrompt">国内网站（如人民日报，新京报）</div>
      <div class="questionAnswer">
        <div class="slidecontainer" id="domesticWebsite">
          <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
            <output class="sliderAmount" name="amount" id="domesticWebsiteAmount" for="rangeInput">0小时 0分钟</output>
            <input type="range" min="0" max="200" value="0" step="5" class="slider" name="newsSourceDomesticWebsite" id="domesticWebsiteSlider" oninput="domesticWebsiteSlide()"></input>
            </div>
        </div>
      </div>

      <div class="visitPrompt">国外网站（如纽约时报，华尔街日报）</div>
      <div class="questionAnswer">
        <div class="slidecontainer" id="foreignWebsite">
          <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
            <output class="sliderAmount" name="amount"
              id="foreignWebsiteAmount" for="rangeInput">0小时 0分钟</output>
            <input type="range" min="0" max="200" value="0" step="5" class="slider" name="newsSourceForeignWebsite" id="foreignWebsiteSlider" oninput="foreignWebsiteSlide()"></input>
          </div>
        </div>
      </div>

      <div class="visitPrompt">国内社交媒体（如微博，微信）</div>
      <div class="questionAnswer">
        <div class="slidecontainer" id="domesticMedia">
          <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
            <output class="sliderAmount" name="amount" id="domesticMediaAmount"
              for="rangeInput">0小时 0分钟</output>
            <input type="range" min="0" max="200" value="0" step="5" class="slider" name="newsSourceDomesticMedia" id="domesticMediaSlider" oninput="domesticMediaSlide()"></input>
          </div>
        </div>
      </div>

      <div class="visitPrompt">国外社交媒体（如Facebook Twitter Instagram）</div>
      <div class="questionAnswer">
        <div class="slidecontainer" id="foreignMedia">
          <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
            <output class="sliderAmount" name="amount" id="foreignMediaAmount"
              for="rangeInput">0小时 0分钟</output>
            <input type="range" min="0" max="200" value="0" step="5" class="slider" name="newsSourceForeignMedia" id="foreignMediaSlider" oninput="foreignMediaSlide()"></input>
          </div>
        </div>
      </div>

      <div class="visitPrompt">与朋友或同学聊天（直接的言语交谈）</div>
      <div class="questionAnswer">
        <div class="slidecontainer" id="chatWithFriends">
          <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
            <output class="sliderAmount" name="amount"
              id="chatWithFriendsAmount" for="rangeInput">0小时 0分钟</output>
            <input type="range" min="0" max="200" value="0" step="5" class="slider" name="newsSourceChatWithFriends" id="chatWithFriendsSlider" oninput="chatWithFriendsSlide()"></input>
          </div>
        </div>
      </div>
    </div>
    <!-- next button -->
    <div class="nextButton">
      <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
      </input>
    </div>
    <!-- <section class="nextButton">
      <div id="p3nextButton"><div class="button">
          <div id="next">下一页</div>
        </div>
        <script type="text/javascript">
          document.getElementById("p3nextButton").onclick = function() {
            return show('page4');
          };
        </script>
      </div>
    </section> -->
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 48%; background-color: #979797;" aria-valuenow="48" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</form>

<form lang="zh" action="" method="post">
  <!-- page 4 -->
  <div id="page4" style="display:none">
    <div class="survey">
      <!-- people trust degree -->
      <div class="question">
        <div class="questionPrompt">您对以下新闻媒体和政府机构的信任程度如何？</div>
        <input name="trustOptionsOrder" id="trustOrder" type="hidden" value="123456">
        <div class="questionAnswer">
          <!-- option 1 -->
          <div class="peopleTrustOption" id="question1">
            <div class="trustOptionPrompt">
              <div class="trustOptionText">人民日报</div>
              <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                <input type="checkbox" class="form-check-input" id="dunno1checkbox" name="dontKnowPeoplesDaily" onclick="dunno1()">
                <label class="form-check-label" for="dunno1">不够了解，无法回答</label>
              </div>
            </div>
            <div id="trustSlider1">
              <div id="Scale1Divider">
                <div id="scaleDivider1">·</div>
                <div id="scaleDivider2">·</div>
                <div id="scaleDivider3">·</div>
                <div id="scaleDivider4">·</div>
                <div id="scaleDivider5">·</div>
              </div>
              <div class="trustScaleLabel">
                <div id="trust1ScaleLabel1">完全不信任</div>
                <div id="trust1ScaleLabel2">不信任</div>
                <div id="trust1ScaleLabel3">中立</div>
                <div id="trust1ScaleLabel4">信任</div>
                <div id="trust1ScaleLabel5">非常信任</div>
              </div>
              <div class="slidecontainer">
                <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                  <output class="sliderAmount" name="amount" id="trust1Amount"
                    for="rangeInput">0</output>
                  <input type="range" min="0" max="100" value="0" step="0.01" name="trustPeoplesDaily" class="slider" id="trust1" oninput="trust1Slide()"></input>
                </div>
              </div>
            </div>
          </div><!-- option 2 -->
          <div class="peopleTrustOption" id="question2">
            <div class="trustOptionPrompt">
              <div class="trustOptionText">新闻晨报</div>
              <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                <input type="checkbox" class="form-check-input" id="dunno2checkbox" name="dontKnowMorningPost" onclick="dunno2()">
                <label class="form-check-label" for="dunno2">不够了解，无法回答</label>
              </div>
            </div>
            <div id="trustSlider2">
              <div id="Scale2Divider">
                <div id="scaleDivider1">·</div>
                <div id="scaleDivider2">·</div>
                <div id="scaleDivider3">·</div>
                <div id="scaleDivider4">·</div>
                <div id="scaleDivider5">·</div>
              </div>
              <div class="trustScaleLabel">
                <div id="trust2ScaleLabel1">完全不信任</div>
                <div id="trust2ScaleLabel2">不信任</div>
                <div id="trust2ScaleLabel3">中立</div>
                <div id="trust2ScaleLabel4">信任</div>
                <div id="trust2ScaleLabel5">非常信任</div>
              </div>
              <div class="slidecontainer">
                <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                  <output class="sliderAmount" name="amount" id="trust2Amount"
                    for="rangeInput">0</output>
                  <input type="range" min="0" max="100" value="0" step="0.01" name="trustMorningPost" class="slider" id="trust2" oninput="trust2Slide()"></input>
                </div>
              </div>
            </div>
          </div><!-- option 3 -->
          <div class="peopleTrustOption" id="question3">
            <div class="trustOptionPrompt">
              <div class="trustOptionText">新闻广播FM93.4</div>
              <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                <input type="checkbox" class="form-check-input" id="dunno3checkbox" name="dontKnowFM"  onclick="dunno3()">
                <label class="form-check-label" for="dunno3">不够了解，无法回答</label>
              </div>
            </div>
            <div id="trustSlider3">
              <div id="Scale3Divider">
                <div id="scaleDivider1">·</div>
                <div id="scaleDivider2">·</div>
                <div id="scaleDivider3">·</div>
                <div id="scaleDivider4">·</div>
                <div id="scaleDivider5">·</div>
              </div>
              <div class="trustScaleLabel">
                <div id="trust3ScaleLabel1">完全不信任</div>
                <div id="trust3ScaleLabel2">不信任</div>
                <div id="trust3ScaleLabel3">中立</div>
                <div id="trust3ScaleLabel4">信任</div>
                <div id="trust3ScaleLabel5">非常信任</div>
              </div>
              <div class="slidecontainer">
                <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                  <output class="sliderAmount" name="amount" id="trust3Amount"
                    for="rangeInput">0</output>
                  <input type="range" min="0" max="100" value="0" step="0.01" name="trustFM" class="slider" id="trust3" oninput="trust3Slide()"></input>
                  </div>
              </div>
            </div>
          </div><!-- option 4 -->
          <div class="peopleTrustOption" id="question4">
            <div class="trustOptionPrompt">
              <div class="trustOptionText">上海市环境监测中心</div>
              <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                <input type="checkbox" class="form-check-input" id="dunno4checkbox" name="dontKnowSEMC"  onclick="dunno4()">
                <label class="form-check-label" for="dunno4">不够了解，无法回答</label>
              </div>
            </div>

            <div id="trustSlider4">
              <div id="Scale4Divider">
                <div id="scaleDivider1">·</div>
                <div id="scaleDivider2">·</div>
                <div id="scaleDivider3">·</div>
                <div id="scaleDivider4">·</div>
                <div id="scaleDivider5">·</div>
              </div>
              <div class="trustScaleLabel">
                <div id="trust4ScaleLabel1">完全不信任</div>
                <div id="trust4ScaleLabel2">不信任</div>
                <div id="trust4ScaleLabel3">中立</div>
                <div id="trust4ScaleLabel4">信任</div>
                <div id="trust4ScaleLabel5">非常信任</div>
              </div>
              <div class="slidecontainer">
                <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                  <output class="sliderAmount" name="amount" id="trust4Amount"
                    for="rangeInput">0</output>
                  <input type="range" min="0" max="100" value="0" step="0.01" name="trustSEMC" class="slider" id="trust4" oninput="trust4Slide()"></input>
                  </div>
              </div>
            </div>
          </div>
          <!-- option 5 -->
          <div class="peopleTrustOption" id="question5">
            <div class="trustOptionPrompt">
              <div class="trustOptionText">中国国家旅游局</div>
              <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                <input type="checkbox" class="form-check-input" id="dunno5checkbox" name="dontKnowCNTA"  onclick="dunno5()">
                <label class="form-check-label" for="dunno5">不够了解，无法回答</label>
              </div>
            </div>

            <div id="trustSlider5">
              <div id="Scale5Divider">
                <div id="scaleDivider1">·</div>
                <div id="scaleDivider2">·</div>
                <div id="scaleDivider3">·</div>
                <div id="scaleDivider4">·</div>
                <div id="scaleDivider5">·</div>
              </div>
              <div class="trustScaleLabel">
                <div id="trust5ScaleLabel1">完全不信任</div>
                <div id="trust5ScaleLabel2">不信任</div>
                <div id="trust5ScaleLabel3">中立</div>
                <div id="trust5ScaleLabel4">信任</div>
                <div id="trust5ScaleLabel5">非常信任</div>
              </div>
              <div class="slidecontainer">
                <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                  <output class="sliderAmount" name="amount" id="trust5Amount"
                    for="rangeInput">0</output>
                  <input type="range" min="0" max="100" value="0" step="0.01" name="trustCNTA" class="slider" id="trust5" oninput="trust5Slide()"></input>
                </div>
              </div>
            </div>
          </div>
          <!-- option 6 -->
          <div class="peopleTrustOption" id="question6">
            <div class="trustOptionPrompt">
              <div class="trustOptionText">纽约时报</div>
              <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                <input type="checkbox" class="form-check-input" id="dunno6checkbox" name="dontKnowNYT"  onclick="dunno6()">
                <label class="form-check-label" for="dunno6">不够了解，无法回答</label>
              </div>
            </div>

            <div id="trustSlider6">
              <div id="Scale4Divider">
                <div id="scaleDivider1">·</div>
                <div id="scaleDivider2">·</div>
                <div id="scaleDivider3">·</div>
                <div id="scaleDivider4">·</div>
                <div id="scaleDivider5">·</div>
              </div>
              <div class="trustScaleLabel">
                <div id="trust6ScaleLabel1">完全不信任</div>
                <div id="trust6ScaleLabel2">不信任</div>
                <div id="trust6ScaleLabel3">中立</div>
                <div id="trust6ScaleLabel4">信任</div>
                <div id="trust6ScaleLabel5">非常信任</div>
              </div>
              <div class="slidecontainer">
                <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                  <output class="sliderAmount" name="amount" id="trust6Amount"
                    for="rangeInput">0</output>
                  <input type="range" min="0" max="100" value="0" step="0.01" class="slider" name="trustNYT" id="trust6" oninput="trust6Slide()"></input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="nextButton">
      <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
      </input>
    </div>
    <!-- <section class="nextButton">
      <div id="p4nextButton"><div class="button">
          <div id="next">下一页</div>
        </div>
        <script type="text/javascript">
          document.getElementById("p4nextButton").onclick = function() {
            return show('page5');
          };
        </script>
      </div>
    </section> -->
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 64%; background-color: #979797;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</form>

<form lang="zh" action="" method="post">
  <!-- page 5 -->
  <div id="page5" style="display:none">
    <div class="survey">

      <!-- questions about the event -->
      <div class="mainQuestion">
        让我们向您了解一些关于您本人的问题。
      </div>

      <!-- event name question -->
      <div class="question">
        <div class="form-group" style="margin-bottom:0px">
          <div class="questionPrompt">您的性别是？</div>
          <div class="questionAnswer">
            <div class="form-check">
              <input class="form-check-input" type="radio" id="female" name="gender" value="female" >
              <label class="form-check-label" for="female">
                女性
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" id="male" name="gender" value="male" required>
              <label class="form-check-label" for="male">
                男性
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- birthday -->
      <div class="question">
        <div class="questionPrompt">您的出生年份是？</div>
        <div class="questionAnswer">
          <div class="form-group">
            <label for="birthYear"></label>
            <select class="form-control" name="birthYear" id="birthYear" required>
              <option></option>
              <option>1980</option><option>1982</option><option>1983</option><option>1984</option><option>1985</option>
              <option>1986</option><option>1987</option><option>1988</option><option>1989</option><option>1900</option>
              <option>1990</option><option>1992</option><option>1993</option><option>1994</option><option>1995</option>
              <option>1996</option><option>1997</option><option>1998</option><option>1999</option><option>2000</option>
              <option>2001</option><option>2002</option><option>2003</option><option>2004</option><option>2005</option>
              <option>2006</option><option>2007</option><option>2008</option><option>2009</option><option>2010</option>
            </select>
          </div>
        </div>
      </div>


      <!-- hometown -->
      <div class="question">
        <div class="questionPrompt">您的家乡是？</div>
        <div class="questionAnswer">
          <div id="hometown">
            <div class="form-group">
              <input type="text" class="form-control" id="province" name="province" placeholder="省" required>
              <input type="text" class="form-control" id="city" name="city" placeholder="市" required>
            </div>
          </div>
        </div>
      </div>

      <!-- university -->
      <div class="question">
        <div class="questionPrompt">您现在所在的大学是？</div>
        <div class="questionAnswer">
            <div class="form-group" id="whichUniversity">
              <select class="form-control" id="university" name="university" onchange="univerisity()" required>
                <option></option>
                <option>复旦大学</option>
                <option>交通大学</option>
                <option>上海财经大学</option>
                <option id="otherUni">其他</option>
              </select>
            </div>
        </div>
      </div>

      <div class="question" style="display:none;"  id="otherUniFiller">
        <div class="questionPrompt">请填写您现在所在的大学：</div>
        <div class="questionAnswer">
          <div>
            <div class="form-group">
              <input type="text" class="form-control" id="otherUniAnswer" name="otherUniAnswer" placeholder="大学" >
            </div>
          </div>
        </div>
      </div>

      <!-- live at university question -->
      <div class="question">
        <div class="form-group" style="margin-bottom:0px">
          <div class="questionPrompt">您现在是否住校？</div>
          <div class="questionAnswer">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="liveOnCampus" id="livesOnCampus" value="livesOnCampus" onclick="showOnCampusAddress()" >
              <label class="form-check-label" for="livesOnCampus">
                是
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="liveOnCampus" id="liveOffCampus" value="liveOffCampus" onclick="hideOnCampusAddress()" required>
              <label class="form-check-label" for="liveOffCampus"  >
                否
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- address -->
      <div class="question">
        <div class="questionPrompt">您的地址是？（如果您住校，请提供学校住址。为了方便邮寄调研参与证明，请将地址具体到宿舍门牌号）</div>
        <div class="questionAnswer">
          <div id="address">
            <div class="form-group">
              <input type="text" class="form-control" id="address" name="address" placeholder="地址" required>
              <div id="onCampusAddress">
                <input type="text" class="form-control" id="dormName" name="dormName" placeholder="宿舍名称">
              </div>
              <input type="text" class="form-control" id="otherMailInfo" name="otherMailInfo" placeholder="邮递所需的任何其他信息" >
            </div>
          </div>
        </div>
      </div>

      <!-- major -->
      <div class="question">
        <div class="questionPrompt">您的专业/院系是？</div>
        <div class="questionAnswer">
          <div>
            <div class="form-group">
              <input type="text" class="form-control" id="major" name="major" placeholder="专业/院系" required>
            </div>
          </div>
        </div>
      </div>

      <!-- grade -->
      <div class="question">
        <div class="questionPrompt">您的年级是？</div>
        <div class="questionAnswer">
          <div class="form-group">
            <label for="gradeSelect"></label>
            <select class="form-control" name="grade" id="gradeSelect" required>
              <option></option>
              <option>大一</option>
              <option>大二</option>
              <option>大三</option>
              <option>大四</option>
              <option>研究生</option>
            </select>
          </div>
        </div>
      </div>

    </div>

  <div class="nextButton">
    <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
    </input>
  </div>
  <div class="progress" style="height: 8px;">
    <div class="progress-bar" role="progressbar" style="width: 84%; background-color: #979797;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  </div>
</form>

  <!-- page 6 -->
  <div id="page6" style="display:none">
    <div class="survey">
      <div class="mainQuestion">感谢您完成今天的调研。 我们将在明天下午6点至7点左右发送另一条微信消息给您，并提供有关本地活动的信息。</div>
      <!-- <div class="mainQuestion">感谢您完成第二天的调研。第2天结束。如果您想继续第3天，请单击下面的链接。 （您看到此消息是因为您是此Web应用程序的beta测试人员。）</div>
      <a href="{{ url_for('pilot.get_info', user_id_hashid=next_user_id_hashid, day_hashid=next_day_hashid) }}">{{ url_for('pilot.get_info', user_id_hashid=next_user_id_hashid, day_hashid=next_day_hashid) }}</a> -->
    </div>
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #979797;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div><!-- powered by -->
    <!-- <div id="lizzij"><img src="{{ url_for('static', filename='img/powered by lizzij.png') }}" width="80px"></div> -->
  </div>
  <script type="text/javascript">
  (function (global) {

    if(typeof (global) === "undefined")
    {
    throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function () {
      global.location.href += "#";

    // making sure we have the fruit available for juice....
    // 50 milliseconds for just once do not cost much (^__^)
      global.setTimeout(function () {
          global.location.href += "!";
      }, 50);
    };

    // Earlier we had setInerval here....
    global.onhashchange = function () {
      if (global.location.hash !== _hash) {
          global.location.hash = _hash;
      }
    };

    global.onload = function () {

    noBackPlease();

    // disables backspace on page except on input fields and textarea..
    document.body.onkeydown = function (e) {
          var elm = e.target.nodeName.toLowerCase();
          if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
              e.preventDefault();
          }
          // stopping event bubbling up the DOM tree..
          e.stopPropagation();
      };

    };

    })(window);
    {% if lastpage %}
        document.getElementById("page1").style = 'display: none;';
        document.getElementById("page" + ({{lastpage}}+1)).style = 'display: flex;flex-direction: column;position: relative; overflow: visible;';
    {% else %}
    {% endif %}
  </script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.3.1.slim.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/survey2.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>

</body>

</html>
