<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <title>完成情况</title>
  </head>
  <body>
    <!-- content -->
    {% block content %}
      {% for activity in activitys %}
        <article class="activity">
          <header>
            <div>
              <div class="about">
                user_id: {{ activity['user_id'] }};
                day: {{ activity['day'] }};
                survey_page: {{ activity['survey_page'] }};
                curr_time: {{ activity['curr_time'].strftime('%d/%m/%Y %H:%M:%S') }};
                day_complete: {{ activity['day_complete'] }}.</div>
            </div>
          </header>
          <p class="body">{{ activity['body'] }}</p>
      {% endfor %}
    {% endblock %}
  </body>
</html>
