<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <title>完成题目内容</title>
  </head>
  <body>
    <!-- content -->
    {% block content %}
      {% for survey in surveys %}
        <article class="survey">
          <header>
            <div>
              <div class="about">
                user_id: {{ survey['user_id'] }};
                day: {{ survey['day'] }};
                question_id: {{ survey['question_id'] }};
                result: {{ survey['result'] }};
                created: {{ survey['created'].strftime('%d/%m/%Y %H:%M:%S') }}.</div>
            </div>
          </header>
          <p class="body">{{ survey['body'] }}</p>
      {% endfor %}
    {% endblock %}
  </body>
</html>
