<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <title>Info</title>
  </head>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  <body>
    <h1>{{ 'Information for:' }}</h1>
    <h2>{{ 'User: %d' % (info['user_id']) }}</h2>
    <h2>{{ 'Day: %d' % (info['day']) }}</h2>
    <h2>{{ 'Wechat id: %s' % (info['wechat_id']) }}</h2>
    <h2>{{ 'Treatment group: %s' % (info['treatment']) }}</h2>
    <a href="{{ url_for('info.get_survey', user_id=info['user_id'], day=info['day']) }}"><input type="submit" name="to_survey" value="Next">
  </body>
</html>
