<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Survey</title>
  </head>
  <body>
    <h1>{{ 'Survey for: User %d' % (user_id)}}</h1>
    <form method="post">
      <div>
        <label for="uni">University: </label>
        <input name="uni" id="uni" value="{{ request.form['uni'] }}" required>
        <!-- <a href="{{ url_for('info.submit', user_id=user_id, day=day) }}"><div class="button">
          <button type="submit" name="survey" value="submit_survey">1</button> -->
        <input type="submit" value="Next">
      </div>
    </form>
    <!-- <a href="{{ url_for('info.submit', user_id=user_id, day=day) }}"><div class="button">
      <button type="submit" name="survey" value="submit_survey">2</button> -->

    </div>
  </body>
</html>
