<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <title>完成情况</title>
  </head>
  <body>
    <!-- content -->
    {% block content %}
      {% for survey in surveys %}
        <article class="survey">
          <header>
            <div>
              <div class="about">
                {{ survey['user_id'] }},{{ survey['day'] }},{{ survey['question_id'] }},{{ survey['result'] }},{{ survey['created'] }}</div>
            </div>
          </header>
          <p class="body">{{ survey['body'] }}</p>
      {% endfor %}
    {% endblock %}
  </body>
</html>
