<!DOCTYPE html>
<html lang="zh" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}问卷</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/questions.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <form lang="zh" action="" method="post">
  <!-- page 1 -->
  <div id="page1">
    <div id="survey">
      <!-- time on event -->
      <div class="question">
        <div class="questionPrompt">请问您愿意为参加该活动交多少元报名费？</div>
        <div class="questionAnswer">
          <div class="slidecontainer" id="signUpFee">
            <div class="form-group" style="margin-top:35px; margin-bottom:0px">
              <output class="sliderAmount" name="amount" id="signUpFeeAmount"
                for="rangeInput">0元</output>
              <input type="range" min="0" max="300" value="0" class="slider" id="signUpFeeSlider" name="signUpFee"  oninput="signUpFeeSlide()"></input>
            </div>
          </div>
        </div>
      </div>
      </div>
    <!-- next button -->
    <section class="nextButton">
      <div id="p1nextButton"><button id="button">
          <div id="next">提交</div>
        </button>
        <script type="text/javascript">
          document.getElementById("p1nextButton").onclick = function() {
            return show('page2');
          };
        </script>
      </div>
    </section>
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #979797;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  </form>

  <!-- page 2 -->
  <div id="page2" style="display:none">
    <div id="survey">
      <!-- <div class="mainQuestion">感谢您完成今天的调研。 我们将在明天下午6点至7点左右发送另一条微信消息给您，并提供有关本地活动的信息。</div> -->
      <div class="mainQuestion">感谢您完成第五天的调研。第5天结束。如果您想继续第6天，请单击下面的链接。 （您看到此消息是因为您是此Web应用程序的beta测试人员。）</div>
      <a href="https://dailyeventinfo.com/5gKLM4A7vwr3aBlm/K0zAVkYV8W/info">https://dailyeventinfo.com/<br />5gKLM4A7vwr3aBlm/K0zAVkYV8W/info</a>
    </div>
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #979797;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div><!-- powered by -->
    <!-- <div id="lizzij"><img src="{{ url_for('static', filename='img/powered by lizzij.png') }}" width="80px"></div> -->
  </div>
  <script type="text/javascript">
  (function (global) {

    if(typeof (global) === "undefined")
    {
    throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function () {
      global.location.href += "#";

    // making sure we have the fruit available for juice....
    // 50 milliseconds for just once do not cost much (^__^)
      global.setTimeout(function () {
          global.location.href += "!";
      }, 50);
    };

    // Earlier we had setInerval here....
    global.onhashchange = function () {
      if (global.location.hash !== _hash) {
          global.location.hash = _hash;
      }
    };

    global.onload = function () {

    noBackPlease();

    // disables backspace on page except on input fields and textarea..
    document.body.onkeydown = function (e) {
          var elm = e.target.nodeName.toLowerCase();
          if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
              e.preventDefault();
          }
          // stopping event bubbling up the DOM tree..
          e.stopPropagation();
      };

    };

    })(window);

    {% if lastpage %}
        document.getElementById("page1").style = 'display: none;';
        document.getElementById("page2").style = 'display: flex;flex-direction: column;position: relative; overflow: visible;';
    {% else %}
    {% endif %}
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/survey5.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>
