<!DOCTYPE html>

<html lang="zh" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>{% block title %}{% endblock %}问卷</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/questions.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/infoPage.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <form lang="zh" action="" method="post">
    <!-- page 1 -->
    <div id="page1">
      <div id="survey">
        <!-- sign up fee -->
        <div class="question">
          <div class="questionPrompt">请问您愿意为参加该活动交多少元报名费？</div>
          <div class="questionAnswer">
            <div class="slidecontainer" id="signUpFee">
              <div class="form-group" style="margin-top:35px; margin-bottom:0px">
                <output class="sliderAmount" name="amount" id="signUpFeeAmount" for="rangeInput">0元</output>
                <input type="range" min="0" max="300" value="0" class="slider" id="signUpFeeSlider" name="signUpFeeEvent1" oninput="signUpFeeSlide()"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- next button -->
      <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div>
      <!-- <section class="nextButton">
        <div id="p1nextButton">
          <div class="button">
            <div id="next">下一页</div>
          </div>
          <script type="text/javascript">
            document.getElementById("p1nextButton").onclick = function() {
              return show('page2');
            };
          </script>
        </div>
      </section> -->
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 20%; background-color: #979797;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </form>

  <form lang="zh" action="" method="post">
    <!-- page 2 -->
    <div id="page2" style="display:none;">
      <div style="display: block;margin: 8px;
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;height:3000px;">
        <!-- The Modal -->
        <div id="myModal1" class="modal">

          <!-- Modal content -->
          <div class="modal-content" style="width:285px;">
            <span id="close1">&times;</span>
            <p>以下是另一项将在{{ (second_event['phrase_for_week']) }}举办的本地活动。
              <br>请您仔细思考是否愿意参加该活动。
              <br>我们从多种来源获得关于该活动的信息，这些来源对信息的准确性负责。</p>
          </div>

        </div>

        <header>
          <div class="title">
            <div id="eventName">{{ (second_event['title']) }}<br />{{ (second_event['subtitle']) }}</div>
            <div id="eventDate">{{ (second_event['info_date']) }}</div>
            <div id="eventTime">{{ (second_event['info_time']) }}</div>
            <div id="eventLocation">{{ (second_event['location']) }}</div>
          </div>
        </header>

        <!-- Image -->
        <section class="image">
          <div id="eventImage">
            <div>
              <img src="{{ url_for('static', filename='img/event 5.jpg') }}" width="376" height="276">
            </div>
          </div>
        </section>

        <!-- description short -->
        <section class="descriptionShort">
          <div class="paragraphShort">
            <!-- <div id="firstCharacter">平</div> -->
            <div id="descriptionShortPara">
              {{ (second_event['short_description']) }}
            </div>
          </div>
        </section>

        <div id="moreInfoButton1">
          <div>
            <img src="{{ url_for('static', filename='img/Button.png') }}">
          </div>
          <div id="moreInfoButtonNext">下一页</div>
          <script type="text/javascript">
            document.getElementById("moreInfoButton1").onclick = function() {
              document.getElementById("moreInfoButton1").style.display = 'none';
              document.getElementById("moreInfo1").style.display = 'block';
              window.scrollTo(0, 588);
            }
          </script>
        </div>
      </div>

      <div id="moreInfo1" style="display:none;">

        <!-- weather -->
        <section class="weather">

          <!-- temperature -->
          <section class="temperature">
            <div id="temperatureHeader">室外气温</div>
            <!-- <div id="temperatureSource">* 来自中国青年报</div>
            <div id="qingNian">
              <img src="../img/QingNian.jpg" width="50" height="16.36">
            </div> -->
            <div id="temperatureSubtitle">{{ second_event['phrase_for_header'] }} <br />平均历史气温</div>

            <!-- temperture low -->
            <div class="temperatureLow">
              <div id="lowValue">{{ '%d' % (second_event['low_temp']) }}</div>
              <div id="lowUnit">°C</div>
              <div id="low">平均最低<br />气温</div>
            </div>

            <!-- temperture high -->
            <div class="temperatureHigh">
              <div id="highValue">{{ '%d' % (second_event['high_temp']) }}</div>
              <div id="highUnit">°C</div>
              <div id="high">平均最高<br />气温</div>
            </div>
          </section>

          <section class="airQuality">
            <div id="airQualityHeader">空气质量：良</div>
            <div id="airQualitySource">{{ (second_event['air_quality_source']) }}</div>
            <div id="dongFang">
              <img src="{{ url_for('static', filename=second_event['air_quality_source_logo']) }}" height="23">
            </div>

            <!-- air quality scale -->
            <div class="airQualityScale">

              <!-- levels -->
              <div class="levels">
                <div id="infoLevel1">1级</div>
                <div id="infoLevel2">2级</div>
                <div id="infoLevel3">3级</div>
                <div id="infoLevel4">4级</div>
                <div id="infoLevel5">5级</div>
                <div id="infoLevel6">6级</div>
              </div>

              <!-- level descriptions -->
              <div class="levelDescription">
                <div id="level1Description">优</div>
                <div id="level2Description">良</div>
                <div id="level3Description">轻度污染</div>
                <div id="level4Description">中度污染</div>
                <div id="level5Description">重度污染</div>
                <div id="level6Description">严重污染</div>
              </div>

              <!-- color bar -->
              <div>
                <svg id="colorBar1">
                  <rect />
                </svg>
                <svg id="colorBar2">
                  <rect />
                </svg>
                <svg id="colorBar3">
                  <rect />
                </svg>
                <svg id="colorBar4">
                  <rect />
                </svg>
                <svg id="colorBar5">
                  <rect />
                </svg>
                <svg id="colorBar6">
                  <rect />
                </svg>
              </div>

              <!-- air quality detail -->
              <div id="airQualityDetail">
                良：空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响。极少数异常敏感人群应减少户外活动。
              </div>
            </div>
          </section>

        </section>

        <!-- air quality -->


        <!-- next button -->
        <div class="nextButton" style="
            position: absolute;
            width: 375px;
            height: 124px;
            left: calc(50% - 375px/2 + 64px);
            top: 1050px;
            padding-bottom:100px;">
          <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
          </input>
        </div>
        <!-- <section class="nextButtonSmall">

            <div id="p2nextButton">
              <div id="infoButton">
                <img src="{{ url_for('static', filename='img/Button.png') }}">
              </div>
              <div id="infoNext">下一页</div>
              <script type="text/javascript">
                document.getElementById("p2nextButton").onclick = function() {
                  return show('page3');
                };
              </script>
            </div>
            <div class="nextButtonNotice">
              点击下一步后，您将无法返回此页面
            </div>
          </section> -->
      </div>
    </div>
    </div>
  </form>

  <form lang="zh" action="" method="post">
    <!-- page 3 -->
    <div id="page3" style="display:none">
      <div id="survey">
        <!-- sign up fee -->
        <div class="question">
          <div class="questionPrompt">请问您愿意为参加该活动交多少元报名费？</div>
          <div class="questionAnswer">
            <div class="slidecontainer" id="signUpFee2">
              <div class="form-group" style="margin-top:35px; margin-bottom:0px">
                <output class="sliderAmount" name="amount" id="signUpFeeAmount2" for="rangeInput">0元</output>
                <input type="range" min="0" max="300" value="0" class="slider" id="signUpFeeSlider2" name="signUpFeeEvent2" oninput="signUpFeeSlide2()"></input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- next button -->
      <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div>
      <!-- <section class="nextButton">
        <div id="p3nextButton">
          <div class="button">
            <div id="next">下一页</div>
          </div>
          <script type="text/javascript">
            document.getElementById("p3nextButton").onclick = function() {
              return show('page4');
            };
          </script>
        </div>
      </section> -->
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 20%; background-color: #979797;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </form>

  <form lang="zh" action="" method="post">
    <!-- page 4 -->
    <div id="page4" style="display:none">
      <div style="display: block;">
        <!-- The Modal -->
        <div id="myModal2" class="modalLarge">

          <!-- Modal content -->
          <div class="modal-content" style="width:285px;">
            <span id="close2">&times;</span>
            <p>我们现在将为您介绍一个我们自己为慈善事业举办的活动。
              <br>请您仔细思考是否愿意参加该活动。
              <br>我们从多种来源获得关于该活动的信息，这些来源对信息的准确性负责。</p>
          </div>

        </div>

        <div>
          <header>
            <div class="title">
              <div id="eventName">{{ (third_event['title']) }}<br />{{ (third_event['subtitle']) }}</div>
              <div id="eventDate">{{ (third_event['info_date']) }}</div>
              <div id="eventTime">{{ (third_event['info_time']) }}</div>
              <div id="eventLocation">{{ (third_event['location']) }}</div>
            </div>
          </header>

          <!-- Image -->
          <section class="image">
            <div id="eventImage">
              <div>
                <img src="{{ url_for('static', filename=third_event['image_file']) }}" height="276">
              </div>
            </div>
          </section>

          <!-- description short -->
          <section class="descriptionShort">
            <div class="paragraphShort">
              <!-- <div id="firstCharacter">步</div> -->
              <div id="descriptionShortPara">
                {{ (third_event['short_description']) }}
              </div>
            </div>
          </section>

          <div id="moreInfoButton2">
            <div>
              <img src="{{ url_for('static', filename='img/Button.png') }}">
            </div>
            <div id="moreInfoButtonNext">下一页</div>
            <script type="text/javascript">
              document.getElementById("moreInfoButton2").onclick = function() {
                document.getElementById("moreInfoButton2").style.display = 'none';
                document.getElementById("moreInfo2").style.display = 'block';
                window.scrollTo(0, 588);
              }
            </script>
          </div>
        </div>

        <div id="moreInfo2" style="display:none;">
          <!-- weather -->
          <section class="weather">

            <!-- temperature -->
            <section class="temperature">
              <div id="temperatureHeader">室外气温</div>
              <!-- <div id="temperatureSource">* 来自中国青年报</div>
          <div id="qingNian">
            <img src="../img/QingNian.jpg" width="50" height="16.36">
          </div> -->
              <div id="temperatureSubtitle">{{ third_event['phrase_for_header'] }} <br />平均历史气温</div>

              <!-- temperture low -->
              <div class="temperatureLow">
                <div id="lowValue">{{ '%d' % (third_event['low_temp']) }}</div>
                <div id="lowUnit">°C</div>
                <div id="low">平均最低<br />气温</div>
              </div>

              <!-- temperture high -->
              <div class="temperatureHigh">
                <div id="highValue">{{ '%d' % (third_event['high_temp']) }}</div>
                <div id="highUnit">°C</div>
                <div id="high">平均最高<br />气温</div>
              </div>
            </section>

            <!-- air quality -->
            <section class="airQuality">
              <div id="airQualityHeader">空气质量：良</div>
              <div id="airQualitySource">{{ (third_event['air_quality_source']) }}</div>
              <div id="dongFang">
                <img src="{{ url_for('static', filename=third_event['air_quality_source_logo']) }}" height="23">
              </div>

              <!-- air quality scale -->
              <div class="airQualityScale">

                <!-- levels -->
                <div class="levels">
                  <div id="infoLevel1">1级</div>
                  <div id="infoLevel2">2级</div>
                  <div id="infoLevel3">3级</div>
                  <div id="infoLevel4">4级</div>
                  <div id="infoLevel5">5级</div>
                  <div id="infoLevel6">6级</div>
                </div>

                <!-- level descriptions -->
                <div class="levelDescription">
                  <div id="level1Description">优</div>
                  <div id="level2Description">良</div>
                  <div id="level3Description">轻度污染</div>
                  <div id="level4Description">中度污染</div>
                  <div id="level5Description">重度污染</div>
                  <div id="level6Description">严重污染</div>
                </div>

                <!-- color bar -->
                <div>
                  <svg id="colorBar1">
                    <rect />
                  </svg>
                  <svg id="colorBar2">
                    <rect />
                  </svg>
                  <svg id="colorBar3">
                    <rect />
                  </svg>
                  <svg id="colorBar4">
                    <rect />
                  </svg>
                  <svg id="colorBar5">
                    <rect />
                  </svg>
                  <svg id="colorBar6">
                    <rect />
                  </svg>
                </div>

                <!-- air quality detail -->
                <div id="airQualityDetail">
                  良：空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响。极少数异常敏感人群应减少户外活动。
                </div>
              </div>
            </section>

          </section>

          <!-- next button -->
          <div class="nextButton" style="
            position: absolute;
            width: 375px;
            height: 124px;
            left: calc(50% - 375px/2 + 64px);
            top: 1050px;
            padding-bottom:100px;">
            <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
            </input>
          </div>
          <!-- <section class="infoNextButton" style="top:1390px;">

            <div id="p4nextButton">
              <div id="infoButton">
                <img src="{{ url_for('static', filename='img/Button.png') }}">
              </div>
              <div id="infoNext">下一页</div>
              <script type="text/javascript">
                document.getElementById("p4nextButton").onclick = function() {
                  return show('page5');
                };
              </script>
            </div>
            <div class="nextButtonNotice">
              点击下一步后，您将无法返回此页面
            </div>
          </section> -->
        </div>
      </div>
    </div>
  </form>

  <form lang="zh" action="" onsubmit="return validateStar();" method="post">
    <!-- page 5 -->
    <div id="page5" style="display:none">
      <div id="survey">
        <div class="mainQuestion">关于天气预测的问题</div>
        <div class="question">
          <div class="questionPrompt">
            <p>有活动预计在<b>{{ (third_event['phrase_for_week']) }}</b>举行。您认为那周的空气质量将如何？基于您自己的预测，此题没有正确及错误答案。</p>
            <div id="note">
              <p>分配给您12个星星，请把更多星星分配给您认为更有可能的类别，并把更少的星星分配给您认为不太可能的类别。</br>
                <p id="subNote"><b>注意：</b></br>
                  - 每个星星代表十分之一的可能性</br>
                  - 请用完所有十二个星星</br>
                  - 如果您认为某类极不可能发生 → 请选择放置零星星</br>
                  - 如果您认为某类一定发生 → 请选择放置所有星星</br>
                  - 如果您认为每一类都有同等可能发生 → 您应该在所有类别中选择放置相同数量的星星</br>
                  - 此题没有正确和错误的答案，请根据您自己的期望选择放置星星</p>
            </div>
          </div>
          <div class="questionAnswer" style="padding-left: 0px;">
            <div class="starLeft">
              <div class="starPrompt" id="starLeftPrompt">
                <div>余</div>
                <div id="starLeftCount">12</div>
                <div>星</div>
              </div>
              <div class="starContainer" id="starLeftContainer">
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
                <div class="star">&starf;</div>
              </div>
            </div>
            <div id="starAlert" style="top:566px"></div>
            <div class="starGroup1">
              <div class="starPrompt">
                <div>优</div>
                <div>&nbsp</div>
                <div id="starCountGroup1" onchange="updateStarInput1()">0</div>
                <input name="starCountGroup1Input" id="starCountGroup1Input" type="hidden" value="0">
              </div>
              <div class="starGroup1Cover" id="starGroup1Cover"></div>
              <div class="starContainer">
                <div class="star" onclick="starCountGroup1(1)">☆</div>
                <div class="star" onclick="starCountGroup1(2)">☆</div>
                <div class="star" onclick="starCountGroup1(3)">☆</div>
                <div class="star" onclick="starCountGroup1(4)">☆</div>
                <div class="star" onclick="starCountGroup1(5)">☆</div>
                <div class="star" onclick="starCountGroup1(6)">☆</div>
                <div class="star" onclick="starCountGroup1(7)">☆</div>
                <div class="star" onclick="starCountGroup1(8)">☆</div>
                <div class="star" onclick="starCountGroup1(9)">☆</div>
                <div class="star" onclick="starCountGroup1(10)">☆</div>
                <div class="star" onclick="starCountGroup1(11)">☆</div>
                <div class="star" onclick="starCountGroup1(12)">☆</div>
              </div>
            </div>
            <div class="starGroup2">
              <div class="starPrompt">
                <div>良</div>
                <div>&nbsp</div>
                <div id="starCountGroup2" onchange="updateStarInput2()">0</div>
                <input name="starCountGroup2Input" id="starCountGroup2Input" type="hidden" value="0">
              </div>
              <div class="starGroup2Cover" id="starGroup2Cover"></div>
              <div class="starContainer">
                <div class="star" onclick="starCountGroup2(1)">☆</div>
                <div class="star" onclick="starCountGroup2(2)">☆</div>
                <div class="star" onclick="starCountGroup2(3)">☆</div>
                <div class="star" onclick="starCountGroup2(4)">☆</div>
                <div class="star" onclick="starCountGroup2(5)">☆</div>
                <div class="star" onclick="starCountGroup2(6)">☆</div>
                <div class="star" onclick="starCountGroup2(7)">☆</div>
                <div class="star" onclick="starCountGroup2(8)">☆</div>
                <div class="star" onclick="starCountGroup2(9)">☆</div>
                <div class="star" onclick="starCountGroup2(10)">☆</div>
                <div class="star" onclick="starCountGroup2(11)">☆</div>
                <div class="star" onclick="starCountGroup2(12)">☆</div>
              </div>
            </div>
            <div class="starGroup3">
              <div class="starPrompt">
                <div>轻度污染</div>
                <div>&nbsp</div>
                <div id="starCountGroup3" onchange="updateStarInput3()">0</div>
                <input name="starCountGroup3Input" id="starCountGroup3Input" type="hidden" value="0">
              </div>
              <div class="starGroup3Cover" id="starGroup3Cover"></div>
              <div class="starContainer">
                <div class="star" onclick="starCountGroup3(1)">☆</div>
                <div class="star" onclick="starCountGroup3(2)">☆</div>
                <div class="star" onclick="starCountGroup3(3)">☆</div>
                <div class="star" onclick="starCountGroup3(4)">☆</div>
                <div class="star" onclick="starCountGroup3(5)">☆</div>
                <div class="star" onclick="starCountGroup3(6)">☆</div>
                <div class="star" onclick="starCountGroup3(7)">☆</div>
                <div class="star" onclick="starCountGroup3(8)">☆</div>
                <div class="star" onclick="starCountGroup3(9)">☆</div>
                <div class="star" onclick="starCountGroup3(10)">☆</div>
                <div class="star" onclick="starCountGroup3(11)">☆</div>
                <div class="star" onclick="starCountGroup3(12)">☆</div>
              </div>
            </div>
            <div class="starGroup4">
              <div class="starPrompt">
                <div>中度污染</div>
                <div>&nbsp</div>
                <div id="starCountGroup4" onchange="updateStarInput4()">0</div>
                <input name="starCountGroup4Input" id="starCountGroup4Input" type="hidden" value="0">
              </div>
              <div class="starGroup4Cover" id="starGroup4Cover"></div>
              <div class="starContainer">
                <div class="star" onclick="starCountGroup4(1)">☆</div>
                <div class="star" onclick="starCountGroup4(2)">☆</div>
                <div class="star" onclick="starCountGroup4(3)">☆</div>
                <div class="star" onclick="starCountGroup4(4)">☆</div>
                <div class="star" onclick="starCountGroup4(5)">☆</div>
                <div class="star" onclick="starCountGroup4(6)">☆</div>
                <div class="star" onclick="starCountGroup4(7)">☆</div>
                <div class="star" onclick="starCountGroup4(8)">☆</div>
                <div class="star" onclick="starCountGroup4(9)">☆</div>
                <div class="star" onclick="starCountGroup4(10)">☆</div>
                <div class="star" onclick="starCountGroup4(11)">☆</div>
                <div class="star" onclick="starCountGroup4(12)">☆</div>
              </div>
            </div>
            <div class="starGroup5">
              <div class="starPrompt">
                <div>重度污染</div>
                <div>&nbsp</div>
                <div id="starCountGroup5" onchange="updateStarInput5()">0</div>
                <input name="starCountGroup5Input" id="starCountGroup5Input" type="hidden" value="0">
              </div>
              <div class="starGroup5Cover" id="starGroup5Cover"></div>
              <div class="starContainer">
                <div class="star" onclick="starCountGroup5(1)">☆</div>
                <div class="star" onclick="starCountGroup5(2)">☆</div>
                <div class="star" onclick="starCountGroup5(3)">☆</div>
                <div class="star" onclick="starCountGroup5(4)">☆</div>
                <div class="star" onclick="starCountGroup5(5)">☆</div>
                <div class="star" onclick="starCountGroup5(6)">☆</div>
                <div class="star" onclick="starCountGroup5(7)">☆</div>
                <div class="star" onclick="starCountGroup5(8)">☆</div>
                <div class="star" onclick="starCountGroup5(9)">☆</div>
                <div class="star" onclick="starCountGroup5(10)">☆</div>
                <div class="star" onclick="starCountGroup5(11)">☆</div>
                <div class="star" onclick="starCountGroup5(12)">☆</div>
              </div>
            </div>
            <div class="starGroup6">
              <div class="starPrompt">
                <div>严重污染</div>
                <div>&nbsp</div>
                <div id="starCountGroup6" onchange="updateStarInput6()">0</div>
                <input name="starCountGroup6Input" id="starCountGroup6Input" type="hidden" value="0">
              </div>
              <div class="starGroup6Cover" id="starGroup6Cover"></div>
              <div class="starContainer">
                <div class="star" onclick="starCountGroup6(1)">☆</div>
                <div class="star" onclick="starCountGroup6(2)">☆</div>
                <div class="star" onclick="starCountGroup6(3)">☆</div>
                <div class="star" onclick="starCountGroup6(4)">☆</div>
                <div class="star" onclick="starCountGroup6(5)">☆</div>
                <div class="star" onclick="starCountGroup6(6)">☆</div>
                <div class="star" onclick="starCountGroup6(7)">☆</div>
                <div class="star" onclick="starCountGroup6(8)">☆</div>
                <div class="star" onclick="starCountGroup6(9)">☆</div>
                <div class="star" onclick="starCountGroup6(10)">☆</div>
                <div class="star" onclick="starCountGroup6(11)">☆</div>
                <div class="star" onclick="starCountGroup6(12)">☆</div>
              </div>
            </div>
            <div id="clearAllStarsButton" onclick="clearAllStars()">
              <div id="clearAllButton" style="top:566px">
                <div id="clear">&times;</div>
              </div>
            </div>
            <div id="groupDescription"></div>
          </div>
        </div>
      </div>
      <!-- next button -->
      <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div>
      <!-- <section class="nextButton">
        <div id="p5nextButton">
          <div class="button">
            <div id="next">下一页</div>
          </div>
          <script type="text/javascript">
            document.getElementById("p5nextButton").onclick = function() {
              return show('page6');
            };
          </script>
        </div>
      </section> -->
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 40%; background-color: #979797;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </form>

  <form lang="zh" action="" method="post">
    <!-- page 6 -->
    <div id="page6" style="display:none">
      <div id="survey">
        <!-- walkathon distance -->
        <div class="question">
          <div class="questionPrompt">
            <p>您想承诺参加我们组织的“儿童慈善徒步活动”吗？如果您同意，我们将在活动提前几日向您发送提示以及如何参与的说明。</p>
            <p>实际捐款将视您现在所做的选择而定，以后不会进行调整。</p>
          </div>
          <div id="subNote">
            <p>注意：</br>
              - 如果您今天选择走6000步，之后未能走满6000步，我们则无法为您捐赠任何钱</br>
              - 如果您今天选择走6000步，之后走了多过6000步，我们依将为您捐赠20元钱（对应6000步的捐款数额）
          </div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="walkathonInterest" value="notInterested" id="walkathonNotInterested" onClick="hideWalkathonSlider()"><label class="form-check-label" for="walkathonNotInterested">不，我不感兴趣</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="walkathonInterest" value="yesInterested" id="walkathonInterested" onClick="showWalkathonSlider()" required><label class="form-check-label" for="walkathonInterested">是的，我很感兴趣</label></div>
          </div>
          <div class="slidecontainer" id="walkathon" style="display:none">
            <div id="note" style="padding-top:20px">
              <div>请移动下面的滑块：</div>
              <pre style="font-family: PingFangHK-Regular, sans-serif; color: #4F4F4F; font-size: 14px; ">
                <div >
                   我将在{{ third_event['phrase_for_day'] }}<output name="amount" id="walkathonDistance" for="rangeInput">走4000步（3.2公里）
                     —— 研究人员将代表您向上海联合基金会捐赠0元人民币。</output>
                </div>
            </pre>
            </div>
            <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
              <output class="sliderAmount" name="amount" id="walkathonAmount" for="rangeInput">4000步</output>
              <input type="range" min="4000" max="7000" value="4000" class="slider" id="walkathonSlider" name="walkathonSteps" oninput="walkathonSlide()"></input>
            </div>


          </div>
        </div>
      </div>
      <!-- next button -->
      <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div>
      <!-- <section class="nextButton">
        <div id="p6nextButton">
          <div class="button">
            <div id="next">下一页</div>
          </div>
          <script type="text/javascript">
            document.getElementById("p6nextButton").onclick = function() {
              return show('page7');
            };
          </script>
        </div>
      </section> -->
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 60%; background-color: #979797;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </form>

  <form lang="zh" action="" id="surveyExperience" onsubmit="return validateWeatherSource();" method="post">
    <!-- page 7 -->
    <div id="page7" style="display:none">
      <div id="survey">
        <div class="mainQuestion">现在，让我们来向您了解一下关于这六天调研经历的感受。</div>
        <div class="question">
          <div class="questionPrompt">在我们向您介绍户外活动之后，您是否通过<b>其他</b>网站了解别的活动？</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="otherSource" value="noOtherSource" id="noOtherSource" onClick="hideNumberOfTimes()"><label class="form-check-label" for="noOtherSource">否</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="otherSource" value="yesOtherSource" id="yesOtherSource" onClick="showNumberOfTimes()" ><label class="form-check-label" for="yesOtherSource">是</label></div>
          </div>
        </div>
        <div class="question" id="otherHowManyTimes" style="display:none">
          <div class="questionPrompt">如果有，请问有多少次</div>
          <div class="questionAnswer">
            <div id="otherSourceNumberOfTimes">
              <div class="form-group">
                <input type="text" class="form-control" id="numberOfTimes" placeholder="请填写数字">
              </div>
            </div>
          </div>
        </div>

        <div class="question">
          <div class="questionPrompt">在过去的6天里，您是否在<b>其他</b>网站了解过更多关于5月第一周，即活动举办这一周的<b>天气</b>信息？</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="otherWeatherSource" value="noOtherWeatherSource" id="noOtherWeatherSource" onClick="hideNumberOfWeatherTimes()"><label class="form-check-label" for="noOtherWeatherSource">否</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="otherWeatherSource" value="yesOtherWeatherSource" id="yesOtherWeatherSource" onClick="showNumberOfWeatherTimes()" ><label class="form-check-label" for="yesOtherWeatherSource">是</label></div>
          </div>
        </div>
        <div class="question" id="otherHowManyWeatherTimes" style="display:none">
          <div class="questionPrompt">如果有，请问有多少次</div>
          <div class="questionAnswer">
            <div id="otherSourceNumberOfWeatherTimes">
              <div class="form-group">
                <input type="text" class="form-control" id="numberOfWeatherTimes" placeholder="请填写数字">
              </div>
            </div>
          </div>
        </div>
        <div class="question">
          <div class="questionPrompt">您是否还记得我们为您提供的5月第一周的空气质量类别是什么？这里我们<b>不是</b>在询问您的想法，而是想了解您是否还记得提供的信息内容。</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="cantRemember" value="cantRemember"><label class="form-check-label" for="cantRemember">我不记得了</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="varies" value="varies"><label class="form-check-label" for="varies">类别随活动种类而异</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="severelyPolluted" value="severelyPolluted"><label class="form-check-label" for="severelyPolluted">严重污染</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="highlyPolluted" value="highlyPolluted"><label class="form-check-label" for="highlyPolluted">重度污染</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="moderatelyPolluted" value="moderatelyPolluted"><label class="form-check-label" for="moderatelyPolluted">中度污染</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="lightlyPolluted" value="lightlyPolluted"><label class="form-check-label" for="lightlyPolluted">轻度污染</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="good" value="good"><label class="form-check-label" for="good">良</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQuality" id="excellent" value="excellent" ><label class="form-check-label" for="excellent">优</label></div>
          </div>
        </div>
        <div class="question">
          <div class="questionPrompt">请问您还记得我们引用<b>空气质量</b>信息的来源吗？</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQualitySource" id="no" value="no"><label class="form-check-label" for="no">不记得了</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQualitySource" id="maybe" value="maybe"><label class="form-check-label" for="maybe">也许记得</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQualitySource" id="probably" value="probably"><label class="form-check-label" for="probably">大概记得</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallAirQualitySource" id="yes" value="yes" ><label class="form-check-label" for="yes">记得</label></div>
          </div>
        </div>
        <div class="question">
          <div class="questionPrompt">您认为在过去的6天内，我们引用过多少个空气质量信息的来源</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="recallNumberOfAirQualitySource" id="1" value="1"><label class="form-check-label" for="1">1</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallNumberOfAirQualitySource" id="2" value="2"><label class="form-check-label" for="2">2</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallNumberOfAirQualitySource" id="3" value="3"><label class="form-check-label" for="3">3</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallNumberOfAirQualitySource" id="4" value="4"><label class="form-check-label" for="4">4</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallNumberOfAirQualitySource" id="5orMore" value="5orMore"><label class="form-check-label" for="5orMore">5个或更多</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="recallNumberOfAirQualitySource" id="dunno" value="dunno" ><label class="form-check-label" for="dunno">我不知道</label></div>
          </div>
        </div>
        <div class="question">
          <div class="questionPrompt">根据您的回忆，请选择我们在过去6天内引用过的所有空气质量信息的来源。（可多选）</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="source1" value="source1"><label class="form-check-label" for="source1">人民日报</label></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="source2" value="source2"><label class="form-check-label" for="source2">参考消息</label></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="source3" value="source3"><label class="form-check-label" for="source3">上海环境监测中心</label></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="source4" value="source4"><label class="form-check-label" for="source4">新闻晨报</label></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="source5" value="source5"><label class="form-check-label" for="source5">新闻广播FM93.4</label></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="source6" value="source6"><label class="form-check-label" for="source6">上海环境东方网微博</label></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="source7" value="source7"><label class="form-check-label" for="source7">纽约时报</label></div>
            <div class="form-check"><input class="form-check-input" type="checkbox" name="recallWhichAirQualitySource" id="sourceNo" value="sourceNo"><label class="form-check-label" for="sourceNo">我不知道</label></div>
          </div>
        </div>
      </div>
      <!-- next button -->
      <!-- <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div> -->
      <section class="nextButton">
        <div id="sourceTokenAlert" class="fillAllAlert"></div>
        <div id="p7nextButton">
          <div class="button">
            <div id="next">下一页</div>
          </div>
          <script type="text/javascript">
            document.getElementById("p7nextButton").onclick = function() {
              return show('page7part2');
            };
          </script>
        </div>
      </section>
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #979797;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <!-- page page7 part2 -->
    <div id="page7part2" style="display:none">
      <div id="survey">
        <div class="question" id="guessWeatherSource">
          <div class="questionPrompt">您认为<text id="specificWeatherSource"></text>是从哪里获得的天气信息？</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="weatherInfoFrom" id="dunnoSource" value="dunnoSource"><label class="form-check-label" for="dunnoSource">我不知道</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="weatherInfoFrom" id="own" value="own"><label class="form-check-label" for="own">我认为他们有自己的天气监测站</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="weatherInfoFrom" id="government" value="government"><label class="form-check-label" for="government">我认为他们从政府机构处获得，如上海环境监测中心</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="weatherInfoFrom" id="ngo" value="ngo"><label class="form-check-label" for="ngo">我认为他们从当地非政府组织处获得</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="weatherInfoFrom" id="international" value="international" ><label class="form-check-label" for="international">我认为他们从国际组织处获得，如美国大使馆</label></div>
          </div>
        </div>

      </div>
      <!-- next button -->
      <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div>
      <!-- <section class="nextButton">
        <div id="p8nextButton">
          <div class="button">
            <div id="next">下一页</div>
          </div>
          <script type="text/javascript">
            document.getElementById("p8nextButton").onclick = function() {
              return show('page9');
            };
          </script>
        </div>
      </section> -->
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 87%; background-color: #979797;" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </form>

  <form lang="zh" action="" method="post">
    <div id="page8" style="display:none">
      <div id="survey">
        <div class="question">
          <div class="questionPrompt">上海金融报从中国指数研究院获得关于<b>房价</b>的信息。假设根据其独立的研究单位的调查，上海金融报认为中国指数研究院提供的信息不准确或存在偏差。在这种情况下，您认为上海金融报决定<b>不发布</b>该信息的可能性有多大？</div>
          <div class="questionAnswer">
            <div class="form-check"><input class="form-check-input" type="radio" name="notReportingProbability" id="level1" value="level1"><label class="form-check-label" for="level1">我不知道</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="notReportingProbability" id="level2" value="level2"><label class="form-check-label" for="level2">绝不可能</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="notReportingProbability" id="level3" value="level3"><label class="form-check-label" for="level3">不可能</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="notReportingProbability" id="level4" value="level4"><label class="form-check-label" for="level4">有点可能</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="notReportingProbability" id="level5" value="level5"><label class="form-check-label" for="level5">可能</label></div>
            <div class="form-check"><input class="form-check-input" type="radio" name="notReportingProbability" id="level6" value="level6" required><label class="form-check-label" for="level6">极有可能</label></div>
          </div>
        </div>
      </div>
      <!-- next button -->
      <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div>
      <!-- <section class="nextButton">
        <div id="p9nextButton">
          <input class="button" type="submit" value="提交" style="color: white; font-size: 14px;">
          </input>
          <script type="text/javascript">
            document.getElementById("p9nextButton").onclick = function() {
              return show('page10');
            };
          </script>
        </div>
      </section> -->
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 94%; background-color: #979797;" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </form>

  <form lang="zh" action="" method="post">
    <div id="page9" style="display:none">
      <div id="survey">
        <div class="question">
          <div class="questionPrompt">您对以下新闻媒体和政府机构的信任程度如何？</div>
          <div class="questionAnswer">
            <!-- option 1 -->
            <div class="peopleTrustOption">
              <div class="trustOptionPrompt">
                <div class="trustOptionText">人民日报</div>
                <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                  <input type="checkbox" class="form-check-input" id="dunno1checkbox" name="dontKnowPeoplesDaily" onclick="dunno1()">
                  <label class="form-check-label" for="dunno1">不够了解，无法回答</label>
                </div>
              </div>
              <div id="trustSlider1">
                <div id="Scale1Divider">
                  <div id="scaleDivider1">·</div>
                  <div id="scaleDivider2">·</div>
                  <div id="scaleDivider3">·</div>
                  <div id="scaleDivider4">·</div>
                  <div id="scaleDivider5">·</div>
                </div>
                <div class="trustScaleLabel">
                  <div id="trust1ScaleLabel1">完全不信任</div>
                  <div id="trust1ScaleLabel2">不信任</div>
                  <div id="trust1ScaleLabel3">中立</div>
                  <div id="trust1ScaleLabel4">信任</div>
                  <div id="trust1ScaleLabel5">非常信任</div>
                </div>
                <div class="slidecontainer">
                  <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                    <output class="sliderAmount" name="amount" id="trust1Amount" for="rangeInput">0</output>
                    <input type="range" min="0" max="100" value="0" step="0.01" name="trustPeoplesDaily" class="slider" id="trust1" oninput="trust1Slide()"></input>
                  </div>
                </div>
              </div>
            </div><!-- option 2 -->
            <div class="peopleTrustOption">
              <div class="trustOptionPrompt">
                <div class="trustOptionText">新闻晨报</div>
                <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                  <input type="checkbox" class="form-check-input" id="dunno2checkbox" name="dontKnowMorningPost" onclick="dunno2()">
                  <label class="form-check-label" for="dunno2">不够了解，无法回答</label>
                </div>
              </div>
              <div id="trustSlider2">
                <div id="Scale2Divider">
                  <div id="scaleDivider1">·</div>
                  <div id="scaleDivider2">·</div>
                  <div id="scaleDivider3">·</div>
                  <div id="scaleDivider4">·</div>
                  <div id="scaleDivider5">·</div>
                </div>
                <div class="trustScaleLabel">
                  <div id="trust2ScaleLabel1">完全不信任</div>
                  <div id="trust2ScaleLabel2">不信任</div>
                  <div id="trust2ScaleLabel3">中立</div>
                  <div id="trust2ScaleLabel4">信任</div>
                  <div id="trust2ScaleLabel5">非常信任</div>
                </div>
                <div class="slidecontainer">
                  <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                    <output class="sliderAmount" name="amount" id="trust2Amount" for="rangeInput">0</output>
                    <input type="range" min="0" max="100" value="0" step="0.01" name="trustMorningPost" class="slider" id="trust2" oninput="trust2Slide()"></input>
                  </div>
                </div>
              </div>
            </div><!-- option 3 -->
            <div class="peopleTrustOption">
              <div class="trustOptionPrompt">
                <div class="trustOptionText">新闻广播FM93.4</div>
                <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                  <input type="checkbox" class="form-check-input" id="dunno3checkbox" name="dontKnowFM" onclick="dunno3()">
                  <label class="form-check-label" for="dunno3">不够了解，无法回答</label>
                </div>
              </div>
              <div id="trustSlider3">
                <div id="Scale3Divider">
                  <div id="scaleDivider1">·</div>
                  <div id="scaleDivider2">·</div>
                  <div id="scaleDivider3">·</div>
                  <div id="scaleDivider4">·</div>
                  <div id="scaleDivider5">·</div>
                </div>
                <div class="trustScaleLabel">
                  <div id="trust3ScaleLabel1">完全不信任</div>
                  <div id="trust3ScaleLabel2">不信任</div>
                  <div id="trust3ScaleLabel3">中立</div>
                  <div id="trust3ScaleLabel4">信任</div>
                  <div id="trust3ScaleLabel5">非常信任</div>
                </div>
                <div class="slidecontainer">
                  <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                    <output class="sliderAmount" name="amount" id="trust3Amount" for="rangeInput">0</output>
                    <input type="range" min="0" max="100" value="0" step="0.01" name="trustFM" class="slider" id="trust3" oninput="trust3Slide()"></input>
                  </div>
                </div>
              </div>
            </div><!-- option 4 -->
            <div class="peopleTrustOption">
              <div class="trustOptionPrompt">
                <div class="trustOptionText">上海市环境监测中心</div>
                <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                  <input type="checkbox" class="form-check-input" id="dunno4checkbox" name="dontKnowSEMC" onclick="dunno4()">
                  <label class="form-check-label" for="dunno4">不够了解，无法回答</label>
                </div>
              </div>

              <div id="trustSlider4">
                <div id="Scale4Divider">
                  <div id="scaleDivider1">·</div>
                  <div id="scaleDivider2">·</div>
                  <div id="scaleDivider3">·</div>
                  <div id="scaleDivider4">·</div>
                  <div id="scaleDivider5">·</div>
                </div>
                <div class="trustScaleLabel">
                  <div id="trust4ScaleLabel1">完全不信任</div>
                  <div id="trust4ScaleLabel2">不信任</div>
                  <div id="trust4ScaleLabel3">中立</div>
                  <div id="trust4ScaleLabel4">信任</div>
                  <div id="trust4ScaleLabel5">非常信任</div>
                </div>
                <div class="slidecontainer">
                  <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                    <output class="sliderAmount" name="amount" id="trust4Amount" for="rangeInput">0</output>
                    <input type="range" min="0" max="100" value="0" step="0.01" name="trustSEMC" class="slider" id="trust4" oninput="trust4Slide()"></input>
                  </div>
                </div>
              </div>
            </div>
            <!-- option 5 -->
            <div class="peopleTrustOption">
              <div class="trustOptionPrompt">
                <div class="trustOptionText">中国国家旅游局</div>
                <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                  <input type="checkbox" class="form-check-input" id="dunno5checkbox" name="dontKnowCNTA" onclick="dunno5()">
                  <label class="form-check-label" for="dunno5">不够了解，无法回答</label>
                </div>
              </div>

              <div id="trustSlider5">
                <div id="Scale5Divider">
                  <div id="scaleDivider1">·</div>
                  <div id="scaleDivider2">·</div>
                  <div id="scaleDivider3">·</div>
                  <div id="scaleDivider4">·</div>
                  <div id="scaleDivider5">·</div>
                </div>
                <div class="trustScaleLabel">
                  <div id="trust5ScaleLabel1">完全不信任</div>
                  <div id="trust5ScaleLabel2">不信任</div>
                  <div id="trust5ScaleLabel3">中立</div>
                  <div id="trust5ScaleLabel4">信任</div>
                  <div id="trust5ScaleLabel5">非常信任</div>
                </div>
                <div class="slidecontainer">
                  <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                    <output class="sliderAmount" name="amount" id="trust5Amount" for="rangeInput">0</output>
                    <input type="range" min="0" max="100" value="0" step="0.01" name="trustCNTA" class="slider" id="trust5" oninput="trust5Slide()"></input>
                  </div>
                </div>
              </div>
            </div>
            <!-- option 6 -->
            <div class="peopleTrustOption">
              <div class="trustOptionPrompt">
                <div class="trustOptionText">纽约时报</div>
                <div class="form-group form-check" style="margin-top:0px; margin-bottom:0px">
                  <input type="checkbox" class="form-check-input" id="dunno6checkbox" name="dontKnowNYT" onclick="dunno6()">
                  <label class="form-check-label" for="dunno6">不够了解，无法回答</label>
                </div>
              </div>

              <div id="trustSlider6">
                <div id="Scale4Divider">
                  <div id="scaleDivider1">·</div>
                  <div id="scaleDivider2">·</div>
                  <div id="scaleDivider3">·</div>
                  <div id="scaleDivider4">·</div>
                  <div id="scaleDivider5">·</div>
                </div>
                <div class="trustScaleLabel">
                  <div id="trust6ScaleLabel1">完全不信任</div>
                  <div id="trust6ScaleLabel2">不信任</div>
                  <div id="trust6ScaleLabel3">中立</div>
                  <div id="trust6ScaleLabel4">信任</div>
                  <div id="trust6ScaleLabel5">非常信任</div>
                </div>
                <div class="slidecontainer">
                  <div class="form-group" style="margin-bottom:0; margin-bottom:0px">
                    <output class="sliderAmount" name="amount" id="trust6Amount" for="rangeInput">0</output>
                    <input type="range" min="0" max="100" value="0" step="0.01" class="slider" name="trustNYT" id="trust6" oninput="trust6Slide()"></input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- next button -->
      <div class="nextButton">
        <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
        </input>
      </div>
      <!-- <section class="nextButton">
        <div id="p9nextButton">
          <input class="button" type="submit" value="提交" style="color: white; font-size: 14px;">
          </input>
          <script type="text/javascript">
            document.getElementById("p9nextButton").onclick = function() {
              return show('page10');
            };
          </script>
        </div>
      </section> -->
      <div class="progress" style="height: 8px;">
        <div class="progress-bar" role="progressbar" style="width: 94%; background-color: #979797;" aria-valuenow="94" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </form>

  <!-- page 10 -->
  <div id="page10" style="display:none">
    <div id="survey">
      <div class="mainQuestion">感谢您完成今天的调研。此次调研还剩下两天就全部结束了，第七天的调研将在两周后进行。我们将在两周之内向您发送微信消息！</div>
      <!-- <div class="mainQuestion">感谢您完成第六天的调研。第6天结束。假设距离上一个调研已经过去了 2 周，如果您想继续第7天，请单击下面的链接。 （您看到此消息是因为您是此Web应用程序的beta测试人员。）</div>
      <a href="{{ url_for('info.get_info', user_id_hashid=next_user_id_hashid, day_hashid=next_day_hashid) }}">{{ url_for('info.get_info', user_id_hashid=next_user_id_hashid, day_hashid=next_day_hashid) }}</a> -->
    </div>
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #979797;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div><!-- powered by -->
    <!-- <div id="lizzij"><img src="{{ url_for('static', filename='img/powered by lizzij.png') }}" width="80px"></div> -->
  </div>
  <script type="text/javascript">
    (function(global) {

      if (typeof(global) === "undefined") {
        throw new Error("window is undefined");
      }

      var _hash = "!";
      var noBackPlease = function() {
        global.location.href += "#";

        // making sure we have the fruit available for juice....
        // 50 milliseconds for just once do not cost much (^__^)
        global.setTimeout(function() {
          global.location.href += "!";
        }, 50);
      };

      // Earlier we had setInerval here....
      global.onhashchange = function() {
        if (global.location.hash !== _hash) {
          global.location.hash = _hash;
        }
      };

      global.onload = function() {

        noBackPlease();

        // disables backspace on page except on input fields and textarea..
        document.body.onkeydown = function(e) {
          var elm = e.target.nodeName.toLowerCase();
          if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
            e.preventDefault();
          }
          // stopping event bubbling up the DOM tree..
          e.stopPropagation();
        };

      };

    })(window);

    {% if lastpage %}
        document.getElementById("page1").style = 'display: none;';
        document.getElementById("page" + ({{lastpage}}+1)).style = 'display: flex;flex-direction: column;position: relative; overflow: visible;';
    {% else %}
    {% endif %}
  </script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.3.1.slim.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/survey6.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>

</body>

</html>
