<!DOCTYPE html>
<html lang="zh" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="eventTitle" content="活动名称">
  <meta property="og:image" content="../img/ShanghaiIcon.png">

  <title>活动信息</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/infoPageTest.css') }}">
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
</head>

<!-- Title -->

<body style="margin:0px; background:white;">

  <!-- The Modal -->
  <div id="myModal" class="modalLarge">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close">&times;</span>
      <p>以下是一项关于西安本地或周边的户外活动及场所的信息。
        依照参与者的意向，我们或将于{{ (info['phrase_for_week']) }}组团结伴前往。
        请您仔细思考是否有意向参与该活动。
        (我们从多种来源获得该活动的信息，这些来源对信息的准确性负责。)</p>
    </div>

  </div>

  <div>
    <header>
      <div class="title">
        <div id="eventName">{{ (info['title']) }}<br />{{ (info['subtitle']) }}</div>
        <div id="eventDate">{{ (info['info_date']) }}</div>
        <div id="eventTime">{{ (info['info_time']) }}</div>
        <div id="eventLocation">{{ (info['location']) }}</div>
      </div>
    </header>

    <script>
      // Get the modal
      var modal = document.getElementById('myModal');

      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];

      modal.style.display = "block";

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>

    <!-- Image -->
    <section class="image">
      <div id="eventImage">
        <div>
          <img src="{{ url_for('static', filename=info['image_file']) }}" width="376" height="276">
        </div>
      </div>
    </section>

    <!-- description short -->
    <section class="descriptionShort">
      <div class="paragraphShort">
        <!-- <div id="firstCharacter">{{ (info['headword']) }}</div> -->
        <div id="descriptionShortPara">
          {{ (info['short_description']) }}
        </div>
      </div>
    </section>

    <div id="moreInfoButton">
      <div>
        <img src="{{ url_for('static', filename='img/Button.png') }}">
      </div>
      <div id="moreInfoButtonNext">下一页</div>
      <script type="text/javascript">
        document.getElementById("moreInfoButton").onclick = function() {
          document.getElementById("moreInfoButton").style.display = 'none';
          document.getElementById("moreInfo").style.display = 'block';
          window.scrollTo(0, 517);
        }
      </script>
    </div>
  </div>

  <div id="moreInfo" style="display:none;">
    <!-- weather -->
    <section class="weather">

      <!-- temperature -->
      <section class="temperature">
        <div id="temperatureHeader">室外气温</div>
        <!-- <div id="temperatureSource">* 来自中国青年报</div>
          <div id="qingNian">
            <img src="../img/QingNian.jpg" width="50" height="16.36">
          </div> -->
        <div id="temperatureSubtitle">{{ info['phrase_for_header'] }} <br />去年平均气温</div>

        <!-- temperture low -->
        <div class="temperatureLow">
          <div id="lowValue">{{ (info['low_temp']) }}</div>
          <div id="lowUnit">°C</div>
          <div id="low">平均最低<br />气温</div>
        </div>

        <!-- temperture high -->
        <div class="temperatureHigh">
          <div id="highValue">{{ (info['high_temp']) }}</div>
          <div id="highUnit">°C</div>
          <div id="high">平均最高<br />气温</div>
        </div>
      </section>

      <!-- air quality -->
      <section class="airQuality">
        <div id="airQualityHeader">
          <div id="airQualityTitle">
            空气质量
          </div>
        </div>
        <div id="airQualitySubtitle">去年{{ info['phrase_for_header'] }}<br />空气质量：</div>
        <div id="airQualityCurr">良</div>
        <div id="airQualitySource">{{ air_quality_source }}</div>
        <div id="airQualityLogo">
          <img src={{url_for('static', filename=air_quality_source_logo) }} height="23">
        </div>

        <!-- air quality scale -->
        <div class="airQualityScale">

          <!-- levels -->
          <div class="levels">
            <div id="infoLevel1">1级</div>
            <div id="infoLevel2">2级</div>
            <div id="infoLevel3">3级</div>
            <div id="infoLevel4">4级</div>
            <div id="infoLevel5">5级</div>
            <div id="infoLevel6">6级</div>
          </div>

          <!-- level descriptions -->
          <div class="levelDescription">
            <div id="level1Description">优</div>
            <div id="level2Description">良</div>
            <div id="level3Description">轻度污染</div>
            <div id="level4Description">中度污染</div>
            <div id="level5Description">重度污染</div>
            <div id="level6Description">严重污染</div>
          </div>

          <!-- color bar -->
          <div>
            <svg id="colorBar1">
              <rect />
            </svg>
            <svg id="colorBar2">
              <rect />
            </svg>
            <svg id="colorBar3">
              <rect />
            </svg>
            <svg id="colorBar4">
              <rect />
            </svg>
            <svg id="colorBar5">
              <rect />
            </svg>
            <svg id="colorBar6">
              <rect />
            </svg>
          </div>

          <!-- air quality detail -->
          <div id="airQualityDetail">
            良：空气质量可接受，但某些污染物可能对极少数异常敏感人群健康有较弱影响。极少数异常敏感人群应减少户外活动。
          </div>
        </div>
      </section>

    </section>

    <!-- next button -->
    <section class="infoNextButton" style="top:990px; padding-bottom:100px;">
      <div id="nextButton">
        <div id="infoButton">
          <img src="{{ url_for('static', filename='img/Button.png') }}">
        </div>
        <div id="infoNext">下一页</div>
        <script type="text/javascript">
          document.getElementById("nextButton").onclick = function() {
            location.href = "{{ url_for('xian.get_survey', user_id_hashid=user_id_hashid, day_hashid=day_hashid) }}";
          }
        </script>
      </div>
      <div class="nextButtonNotice">
        点击下一步后，您将无法返回此页面
      </div>
    </section>
  </div>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.3.1.slim.min.js') }}"></script>
</body>

</html>
