<!DOCTYPE html>
<html lang="zh" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>问卷</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/questions.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <form lang="zh" action="" method="post">
  <div id="page1">
    <div class="survey">
      <!-- questions about the event -->
      <div class="mainQuestion" align="center"><b>关于该活动的问题</b></div><!-- event location question -->
      <!-- event donation -->
      <div class="question">
        <div class="questionPrompt">请问您愿意为参加该活动交多少元报名费？</div>
        <div class="questionAnswer">
          <div class="slidecontainer" id="donationWilling">
            <div class="form-group" style="margin-top:16px; margin-bottom:0px">
              <output class="sliderAmount" name="amount" id="donationWillingAmount" for="rangeInput">0元</output></div>
              <input type="range" min="0" max="300" value="0" step="20" class="slider" name="donationWilling" id="donationWillingSlider" oninput="donationWillingSlide()" required>
          </div>
        </div>
      </div>
    </div><!-- next button -->
    <div class="nextButton">
      <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
      </input>
    </div>
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 33%; background-color: #979797;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</form>

<form lang="zh" action="" method="post">
<div id="page2" style="display:none">
  <div class="survey">
    <!-- list school activities -->
    <div class="question">
      <div class="questionPrompt">您在学校参加了哪些课外活动小组？（请列举不超过三个）</div>
      <div class="questionAnswer">
        <div id="listActivities">
          <div class="form-group">
            <input type="text" class="form-control" id="listSchoolActivities1" name="activity1" placeholder="活动一" required>
            <input type="text" class="form-control" id="listSchoolActivities2" name="activity2" placeholder="活动二（选填）">
            <input type="text" class="form-control" id="listSchoolActivities3" name="activity3" placeholder="活动三（选填）">
          </div>
        </div>
      </div>
    </div>
    <!-- outdoor time -->
    <div class="question">
      <div class="questionPrompt">您一周平均花多少小时在<b>户外</b>活动上（包括步行和骑自行车通勤、体育活动、户外活动）？</div>
      <div class="questionAnswer">
        <div class="slidecontainer" id="exerciseTime" style="padding-top:0;">
          <div class="form-group" style="margin-top:35px; margin-bottom:0px">
            <output class="sliderAmount" name="amount" id="outdoorTimeAmount" for="rangeInput">0小时 0分钟</output>
            <input type="range" min="0" max="1250" value="0" step="5" class="slider" id="outdoorTimeSlider" name="outdoorTime" oninput="outdoorTimeSlide()"></input>
            </div>
        </div>
      </div>
    </div>
    <!-- exercise time -->
    <div class="question">
      <div class="questionPrompt">您一周平均花多少小时在运动（包括<b>室内和室外</b>）上？</div>
      <div class="questionAnswer">
        <div class="slidecontainer" id="exerciseTime" style="padding-top:0;">
          <div class="form-group" style="margin-top:35px; margin-bottom:0px">
            <output class="sliderAmount" name="amount" id="exerciseTimeAmount" for="rangeInput">0小时 0分钟</output>
            <input type="range" min="0" max="1250" value="0" step="5" class="slider" id="exerciseTimeSlider" name="exerciseTime" oninput="exerciseTimeSlide()"></input>
            </div>
        </div>
      </div>
    </div>
    <!-- been to countries -->
    <div class="question">
      <div class="form-group" style="margin-bottom:0px">
        <div class="questionPrompt">过去3年中，您是否出过国？</div>
        <div class="questionAnswer">
          <div class="form-check"><input class="form-check-input" type="radio" name="beenToCountries" id="beenTo" value="beenToCountries"><label class="form-check-label" for="beenTo">是</label></div>
          <div class="form-check"><input class="form-check-input" type="radio" name="beenToCountries" id="notBeenTo" value="notBeenToCountries" required><label class="form-check-label" for="notBeenTo">否</label></div>
        </div>
      </div>
    </div>
  </div><!-- next button -->
  <div class="nextButton">
    <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
    </input>
  </div>
  <div class="progress" style="height: 8px;">
    <div class="progress-bar" role="progressbar" style="width: 33%; background-color: #979797;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
</form>

<form lang="zh" action="" method="post">
  <div id="page3" style="display:none">
    <div class="survey">
      <div class="mainQuestion" align="center"><b>关于新闻涉猎的问题</b></div>
      <input name="newsQuestionsOrder" id="newsOrder" type="hidden" value="12345">
      <div class="question">
        <div class="form-group" style="margin-bottom:0px">
          <div class="questionPrompt">以下列出了一些事件。有些事件真实发生了，有些则没有。对于每一件，请说明您是否认为它曾经发生过。</div>

          <div id="news1">
            <div class="trueFalsePromp">美国将于2019年9月起对价值3000亿美元的中国商品加征10%的关税。</div>
            <div class="questionAnswer">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event1HasHappened" id="1hasHappened" value="hasHappened">
                <label class="form-check-label" for="1hasHappened">发生过</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event1HasHappened" id="1notHappened" value="notHappened" required>
                <label class="form-check-label" for="1notHappened" >没有发生过</label>
              </div>
            </div>
          </div>

          <div id="news2">
            <div class="trueFalsePromp">2019年6月香港特区政府宣布暂缓对《逃犯引渡条例》的修订。</div>
            <div class="questionAnswer">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event2HasHappened" id="2hasHappened" value="hasHappened">
                <label class="form-check-label" for="2hasHappened">发生过</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event2HasHappened" id="2notHappened" value="notHappened" required>
                <label class="form-check-label" for="2notHappened" >没有发生过</label>
              </div>
            </div>
          </div>

          <div id="news3">
            <div class="trueFalsePromp">2019年8月5日，中国人民币兑美元汇率跌破7关口，触及2008年以来最低位。</div>
            <div class="questionAnswer">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event3HasHappened" id="3hasHappened" value="hasHappened">
                <label class="form-check-label" for="3hasHappened">发生过</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event3HasHappened" id="3notHappened" value="notHappened" required>
                <label class="form-check-label" for="3notHappened" >没有发生过</label>
              </div>
            </div>
          </div>

          <div id="news4">
            <div class="trueFalsePromp">自2019年8月起，巴西亚马逊雨林遭遇持续数周的严重火灾。</div>
            <div class="questionAnswer">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event4HasHappened" id="4hasHappened" value="hasHappened">
                <label class="form-check-label" for="4hasHappened">发生过</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event4HasHappened" id="4notHappened" value="notHappened" required>
                <label class="form-check-label" for="4notHappened" >没有发生过</label>
              </div>
            </div>
          </div>

          <div id="news5">
            <div class="trueFalsePromp">2019年9月，孟加拉国最高法院裁定，穆斯林女性以后不再需要于结婚登记表上说明自己是否为处女。</div>
            <div class="questionAnswer">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event5HasHappened" id="5hasHappened" value="hasHappened">
                <label class="form-check-label" for="5hasHappened">发生过</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="event5HasHappened" id="5notHappened" value="notHappened" required>
                <label class="form-check-label" for="5notHappened" >没有发生过</label>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div><!-- next button -->
    <div class="nextButton">
      <input class="button" type="submit" value="下一页" style="color: white; font-size: 14px;">
      </input>
    </div>
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 66%; background-color: #979797;" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
</form>

  <div id="page4" style="display:none">
    <div class="survey">
      <div class="mainQuestion">感谢您完成今天的调研。 我们将在明天下午6点至7点左右发送另一条微信消息给您，并提供有关本地活动的信息。</div>
      <!-- <div class="mainQuestion">感谢您完成第三天的调研。第3天结束。如果您想继续第4天，请单击下面的链接。 （您看到此消息是因为您是此Web应用程序的beta测试人员。）</div>
      <a href="{{ url_for('pilot.get_info', user_id_hashid=next_user_id_hashid, day_hashid=next_day_hashid) }}">{{ url_for('pilot.get_info', user_id_hashid=next_user_id_hashid, day_hashid=next_day_hashid) }}</a> -->
    </div>
    <div class="progress" style="height: 8px;">
      <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #979797;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div><!-- powered by -->
    <!-- <div id="lizzij"><img src="{{ url_for('static', filename='img/powered by lizzij.png') }}" width="80px"></div> -->
  </div>
  <script type="text/javascript">
  (function (global) {

    if(typeof (global) === "undefined")
    {
    throw new Error("window is undefined");
    }

    var _hash = "!";
    var noBackPlease = function () {
      global.location.href += "#";

    // making sure we have the fruit available for juice....
    // 50 milliseconds for just once do not cost much (^__^)
      global.setTimeout(function () {
          global.location.href += "!";
      }, 50);
    };

    // Earlier we had setInerval here....
    global.onhashchange = function () {
      if (global.location.hash !== _hash) {
          global.location.hash = _hash;
      }
    };

    global.onload = function () {

    noBackPlease();

    // disables backspace on page except on input fields and textarea..
    document.body.onkeydown = function (e) {
          var elm = e.target.nodeName.toLowerCase();
          if (e.which === 8 && (elm !== 'input' && elm  !== 'textarea')) {
              e.preventDefault();
          }
          // stopping event bubbling up the DOM tree..
          e.stopPropagation();
      };

    };

    })(window);
    {% if lastpage %}
        document.getElementById("page1").style = 'display: none;';
        document.getElementById("page" + ({{lastpage}}+1)).style = 'display: flex;flex-direction: column;position: relative; overflow: visible;';
    {% else %}
    {% endif %}
  </script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/jweixin-1.2.0.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.3.1.slim.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/shanghai3.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>

</body>

</html>
