<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>谢谢参与</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  </head>
  <body>
    <div style="display: flex;justify-content: center; align-items: center; ">
      <img src="{{ url_for('static', filename='img/pinkSpinningHead.gif') }}" width="250px"></div>
    </div>
    <div style="display: flex;justify-content: center; align-items: center; margin-right:16px;">
      <img src="{{ url_for('static', filename='img/powered by lizzij.png') }}" width="80px">
    </div>
  </body>
</html>
