<!DOCTYPE html>
<html lang="zh" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>发送链接</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles/questions.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
  <form lang="zh" action="" method="post">
  <div class="page" style="display: flex;flex-direction: column;position: relative; overflow: visible;">

    <div class="survey">
      <div class="question">
        <div class="questionPrompt">你好！你的名字是?</div>
        <div class="questionAnswer">
          <div class="form-check"><input class="form-check-input" type="radio" name="surveyorNumber" value="1" id="surveyorNumber1"><label class="form-check-label" for="surveyorNumber1">牛子琦</label></div>
          <div class="form-check"><input class="form-check-input" type="radio" name="surveyorNumber" value="2" id="surveyorNumber2"><label class="form-check-label" for="surveyorNumber2">王岚</label></div>
          <div class="form-check"><input class="form-check-input" type="radio" name="surveyorNumber" value="3" id="surveyorNumber3" required><label class="form-check-label" for="surveyorNumber3">赵奕菲</label></div>
        </div>
      </div>
    </div>
    <div class="nextButton">
      <input class="button" type="submit" value="submit" style="color: white; font-size: 14px;">
      </input>
    </div>
  </div>
  </form>

  <script type=text/javascript src="{{ url_for('static', filename='scripts/jweixin-1.2.0.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.3.1.slim.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/popper.min.js') }}"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>

</body>

</html>
