<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <title>Update WeRun</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <form lang="zh" action="" method="post">
      <table style="width:100%" class="table table-striped">
        <thead>
          <tr>
            <th style="text-align: center; vertical-align: middle;">用户代号</th>
            <th style="text-align: center; vertical-align: middle;">微信号</th>
            <th style="text-align: center; vertical-align: middle;">是否安装了微信运动？</th>
            <th style="text-align: center; vertical-align: middle;">目标步数</th>
            <th style="text-align: center; vertical-align: middle;">实际步数为？</th>
          </tr>
        </thead>
        <tbody>
          <!-- content -->
          {% block content %}
            {% for user in users %}
              <tr>
                <td align="center" style="vertical-align: middle;">{{ user['user_id'] }}</td>
                <td align="center" style="vertical-align: middle;">{{ user['wechat_id'] }}</td>
                <td align="center">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{ user['user_id'] }}-installed" value="installed" id="werunInstalled">
                    <label class="form-check-label" for="werunInstalled">是</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="{{ user['user_id'] }}-installed" value="notInstalled" id="werunNotInstalled">
                    <label class="form-check-label" for="werunNotInstalled">否</label>
                  </div>
                </td>
                <td align="center" style="vertical-align: middle;">{{ user['result'] }}</td>
                <td>
                  <input type="number" class="form-control" name="{{ user['user_id'] }}-steps" >
                </td>
              </tr>
            {% endfor %}
          {% endblock %}
        </tbody>
      </table>
      <div class="nextButton" style="
          align-self: center;
          padding-left: calc(50% - 124px);
          padding-top: 40px;">
        <input class="button" type="submit" value="下一页" style="
          color: white;
          font-size: 14px;
          width: 248px;
          height: 42px;
          background: #979797;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">
        </input>
      </div>
    </form>
  </body>
</html>
