<!DOCTYPE html>
<html lang="zh" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <title>WeRun</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <table style="width:100%" class="table table-striped">
      <thead>
        <tr>
          <th style="text-align: center; vertical-align: middle;">用户代号</th>
          <th style="text-align: center; vertical-align: middle;">微信号</th>
          <th style="text-align: center; vertical-align: middle;">是否安装了微信运动？</th>
          <th style="text-align: center; vertical-align: middle;">目标步数</th>
          <th style="text-align: center; vertical-align: middle;">实际步数为？</th>
        </tr>
      </thead>
      <tbody>
        <!-- content -->
        {% block content %}
          {% for user in users %}
            <tr>
              <td align="center" style="vertical-align: middle;">{{ user['user_id'] }}</td>
              <td align="center" style="vertical-align: middle;">{{ user['wechat_id'] }}</td>
              <td align="center" style="vertical-align: middle;">{{ user['installed'] }}</td>
              <td align="center" style="vertical-align: middle;">{{ user['result'] }}</td>
              <td align="center" style="vertical-align: middle;">{{ user['steps'] }}</td>
            </tr>
          {% endfor %}
        {% endblock %}
      </tbody>
    </table>
  </body>
</html>
